n8n/18-12-25 workflow/eliminar.json
{"updatedAt":"2025-12-08T15:03:00.000Z","createdAt":"2025-12-02T22:16:29.964Z","id":"SDcMXiBg5IRlShp3","name":"Eliminar","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"7bdf9d34-24f9-4724-81c0-9971936b43ce","name":"Schedule Trigger"},{"parameters":{"url":"https://api.mercadolibre.com/users/me","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract_Token').first().json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,0],"id":"e997ad25-6412-4590-9fb1-6ececd9a835d","name":"Get_user_info"},{"parameters":{"jsCode":"const tokenData = $input.first().json;\n\n// Extraer el access token y refresh token\nreturn [{\n  json: {\n    access_token: tokenData.access_token,\n    refresh_token: tokenData.refresh_token,\n    token_type: tokenData.token_type,\n    expires_in: tokenData.expires_in\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"8fb152ef-6520-495c-ae16-70789a1e93c4","name":"Extract_Token"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"grant_type\": \"refresh_token\",\n  \"client_id\": \"5168368765576929\",\n  \"client_secret\": \"PInjmoLGlppXD5BVHXnCy2154voNQ8XM\",\n  \"refresh_token\": \"TG-69304ada66f8f90001555757-2303729344\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"9a409931-4545-40d6-9330-cb4f9ebc4ad7","name":"Refresh_ML_Token"},{"parameters":{"url":"=https://api.mercadolibre.com/items/{{ $json.item_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Extract_Token').first().json.access_token }}"}]},"options":{"batching":{"batch":{"batchInterval":500}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1648,16],"id":"0fcb922b-cfd2-4f5a-abc0-77d5fb571137","name":"Get_Item_Details"},{"parameters":{"jsCode":"const userId = $input.first().json.id;\nconst accessToken = $('Extract_Token').first().json.access_token;\n\nconst ITEMS_PER_PAGE = 100;\nconst DELAY_MS = 500;\nlet allItems = [];\nlet offset = 0;\nlet hasMorePages = true;\nlet pageNumber = 1;\n\nconsole.log(`Iniciando paginación de items para user: ${userId}`);\n\nasync function getPage(offset) {\n  const url = `https://api.mercadolibre.com/users/${userId}/items/search?status=active&offset=${offset}&limit=${ITEMS_PER_PAGE}`;\n  \n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      headers: {\n        'Authorization': `Bearer ${accessToken}`\n      },\n      json: true\n    });\n    return response;\n  } catch (error) {\n    console.error(`❌ Error: ${error.message}`);\n    throw error;\n  }\n}\n\nwhile (hasMorePages) {\n  console.log(`📄 Página ${pageNumber}: offset=${offset}`);\n  \n  const pageData = await getPage.call(this, offset);\n  const results = pageData.results || [];\n  \n  console.log(`✅ ${results.length} items | Total: ${allItems.length + results.length}`);\n  \n  allItems = allItems.concat(results);\n  \n  const totalItems = pageData.paging ? pageData.paging.total : 0;\n  \n  if (results.length < ITEMS_PER_PAGE || allItems.length >= totalItems) {\n    hasMorePages = false;\n    console.log(`🎉 Completo: ${allItems.length} items`);\n  } else {\n    offset += ITEMS_PER_PAGE;\n    pageNumber++;\n    await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n  }\n}\n\nconsole.log(`✨ Total: ${allItems.length} items en ${pageNumber} páginas`);\n\nreturn allItems.map(itemId => ({\n  json: {\n    item_id: itemId\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,16],"id":"2b6f864b-1327-405c-82ab-6b2f7411b5d6","name":"Get_All_Items_Paginated"},{"parameters":{"jsCode":"const userId = $input.first().json.id;\nconst accessToken = $('Extract_Token').first().json.access_token;\n\nconst ORDERS_PER_PAGE = 50;\nconst DELAY_MS = 0;\nlet allOrders = [];\nlet offset = 0;\nlet hasMorePages = true;\nlet pageNumber = 1;\n\nconsole.log(`Iniciando paginación de órdenes para user: ${userId}`);\n\nconst now = new Date();\nconst sixtyDaysAgo = new Date(now - 60 * 24 * 60 * 60 * 1000);\nconst dateFrom = sixtyDaysAgo.toISOString();\nconst dateTo = now.toISOString();\n\nconsole.log(`📅 Rango: ${dateFrom} a ${dateTo}`);\n\nasync function getOrdersPage(offset) {\n  const url = `https://api.mercadolibre.com/orders/search?seller=${userId}&order.date_created.from=${dateFrom}&order.date_created.to=${dateTo}&offset=${offset}&limit=${ORDERS_PER_PAGE}`;\n  \n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      headers: {\n        'Authorization': `Bearer ${accessToken}`\n      },\n      json: true\n    });\n    return response;\n  } catch (error) {\n    console.error(`❌ Error: ${error.message}`);\n    throw error;\n  }\n}\n\nwhile (hasMorePages) {\n  console.log(`📄 Página ${pageNumber}: offset=${offset}`);\n  \n  const pageData = await getOrdersPage.call(this, offset);\n  const results = pageData.results || [];\n  \n  console.log(`✅ ${results.length} órdenes | Total: ${allOrders.length + results.length}`);\n  \n  allOrders = allOrders.concat(results);\n  \n  const totalOrders = pageData.paging ? pageData.paging.total : 0;\n  \n  if (results.length < ORDERS_PER_PAGE || allOrders.length >= totalOrders) {\n    hasMorePages = false;\n    console.log(`🎉 Completo: ${allOrders.length} órdenes`);\n  } else {\n    offset += ORDERS_PER_PAGE;\n    pageNumber++;\n    await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n  }\n  \n  if (pageNumber > 200) {\n    console.log(`⚠️ Límite de páginas alcanzado`);\n    hasMorePages = false;\n  }\n}\n\nconsole.log(`✨ Total: ${allOrders.length} órdenes en ${pageNumber} páginas`);\n\nreturn [{\n  json: {\n    results: allOrders,\n    paging: {\n      total: allOrders.length,\n      offset: 0,\n      limit: allOrders.length\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-160],"id":"fafd62f7-69ca-441d-a356-4633576957ad","name":"Get_Sales_60d_Paginated"},{"parameters":{"documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"MELI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":984362735,"mode":"list","cachedResultName":"Costos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=984362735"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,240],"id":"f3c5c6c5-c96e-4095-9a6d-58f15da14ec7","name":"Read_Provider_Costs","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// ========================================\n// PASO 1: OBTENER Y SEPARAR DATOS\n// ========================================\nconst mergedData = $input.all();\nconsole.log(`📦 Total items recibidos del Merge: ${mergedData.length}`);\n\n// Separar los datos de Get_Item_Details y Get_Sales_60d\nlet items = [];\nlet salesData = null;\n\nmergedData.forEach(item => {\n  const data = item.json;\n  \n  if (data.results && data.paging) {\n    salesData = data;\n  } else if (data.id && data.title) {\n    items.push(item);\n  }\n});\n\nif (!salesData) {\n  salesData = $('Get_Sales_60d_Paginated').first().json;\n}\n\nconsole.log(`📦 Items de productos: ${items.length}`);\nconsole.log(`📊 Órdenes: ${salesData.results ? salesData.results.length : 0}`);\n\nconst orders = salesData.results || [];\n\n// ========================================\n// PASO 2: CARGAR COSTOS DE PROVEEDORES\n// ========================================\nconst providerData = $('Read_Provider_Costs').all();\nconsole.log(`💰 Datos de proveedores: ${providerData.length} registros`);\n\n// Función auxiliar para limpiar valores monetarios\nfunction parsePrice(value) {\n  if (!value) return 0;\n  const cleaned = String(value).replace(/[$\\s]/g, '').replace(/,/g, '');\n  return parseFloat(cleaned) || 0;\n}\n\n// Crear mapa de costos por MLC ID y SKU\nconst costsByMLC = {};\nconst costsBySKU = {};\n\nproviderData.forEach(row => {\n  const data = row.json;\n  \n  const mlcId = data['Número de publicación'] || data['numero_de_publicacion'];\n  const sku = data['SKU'] || data['sku'];\n  const proveedor = data['Proveedor'] || data['proveedor'];\n  \n  const costoFinal = parsePrice(data['Costo'] || data['costo']);\n  \n  let costo = costoFinal;\n  if (costo === 0) {\n    const precio = parsePrice(data['Precio'] || data['precio']);\n    const comision = parseFloat(data['Comision %'] || data['comision'] || data['Convenio %'] || data['convenio'] || 0);\n    costo = precio * (1 - comision);\n  }\n  \n  const precioLista = parsePrice(data['Precio'] || data['precio']);\n  \n  if (mlcId && costo > 0) {\n    costsByMLC[mlcId] = {\n      proveedor: proveedor,\n      costo: costo,\n      precio_lista: precioLista\n    };\n  }\n  \n  if (sku && costo > 0) {\n    costsBySKU[sku] = {\n      proveedor: proveedor,\n      costo: costo,\n      precio_lista: precioLista\n    };\n  }\n});\n\nconsole.log(`💰 Costos mapeados - Por MLC: ${Object.keys(costsByMLC).length}, Por SKU: ${Object.keys(costsBySKU).length}`);\n\n// ========================================\n// PASO 3: FUNCIÓN EXTRAER SKU\n// ========================================\nfunction extractSKU(itemData) {\n  if (itemData.attributes && Array.isArray(itemData.attributes)) {\n    const skuAttr = itemData.attributes.find(attr => \n      attr.id === 'SELLER_SKU' && attr.value_name\n    );\n    \n    if (skuAttr && skuAttr.value_name) {\n      return skuAttr.value_name;\n    }\n  }\n  \n  return itemData.seller_custom_field || itemData.id;\n}\n\n// ========================================\n// PASO 4: CALCULAR VENTAS POR SKU Y TIPO DE FULFILLMENT\n// ========================================\nconst now = new Date();\nconst thirtyDaysAgo = new Date(now - 30 * 24 * 60 * 60 * 1000);\nconst salesBySKU = {};\n\nconsole.log('📊 Procesando ventas por tipo de fulfillment...');\n\norders.forEach(order => {\n  if (order.order_items) {\n    order.order_items.forEach(item => {\n      const sku = item.item.seller_sku || item.item.id;\n      const orderDate = new Date(order.date_created);\n      const quantity = item.quantity || 0;\n      \n      // CORRECCIÓN: Determinar si es FULL o FLEX basado en shipping_mode\n      // me2 = MercadoEnvíos 2.0 = FULL\n      const shippingMode = order.shipping ? order.shipping.shipping_mode : null;\n      const isFull = shippingMode === 'me2';\n      \n      if (!salesBySKU[sku]) {\n        salesBySKU[sku] = { \n          sales_30d: 0, \n          sales_60d: 0,\n          sales_30d_full: 0,\n          sales_30d_flex: 0,\n          sales_60d_full: 0,\n          sales_60d_flex: 0\n        };\n      }\n      \n      // Contadores totales 60 días\n      salesBySKU[sku].sales_60d += quantity;\n      \n      // Contadores por tipo de fulfillment (60 días)\n      if (isFull) {\n        salesBySKU[sku].sales_60d_full += quantity;\n      } else {\n        salesBySKU[sku].sales_60d_flex += quantity;\n      }\n      \n      // Contadores últimos 30 días\n      if (orderDate >= thirtyDaysAgo) {\n        salesBySKU[sku].sales_30d += quantity;\n        \n        if (isFull) {\n          salesBySKU[sku].sales_30d_full += quantity;\n        } else {\n          salesBySKU[sku].sales_30d_flex += quantity;\n        }\n      }\n    });\n  }\n});\n\nconsole.log(`💰 SKUs con ventas: ${Object.keys(salesBySKU).length}`);\n\n// Calcular estadísticas de ventas FULL vs FLEX\nlet totalSales30dFull = 0;\nlet totalSales30dFlex = 0;\n\nObject.values(salesBySKU).forEach(sales => {\n  totalSales30dFull += sales.sales_30d_full;\n  totalSales30dFlex += sales.sales_30d_flex;\n});\n\nconst totalSales30d = totalSales30dFull + totalSales30dFlex;\nconst percentFull = totalSales30d > 0 ? (totalSales30dFull / totalSales30d * 100).toFixed(1) : 0;\nconst percentFlex = totalSales30d > 0 ? (totalSales30dFlex / totalSales30d * 100).toFixed(1) : 0;\n\nconsole.log(`📊 Ventas últimos 30 días:`);\nconsole.log(`   🏢 FULL (me2): ${totalSales30dFull} unidades (${percentFull}%)`);\nconsole.log(`   📦 FLEX (otros): ${totalSales30dFlex} unidades (${percentFlex}%)`);\nconsole.log(`   📈 TOTAL: ${totalSales30d} unidades`);\n\n// ========================================\n// PASO 5: ELIMINAR DUPLICADOS POR SKU\n// ========================================\nconsole.log(`📦 Items antes de filtrar duplicados por SKU: ${items.length}`);\n\nconst itemsBySKU = {};\n\nitems.forEach(item => {\n  const data = item.json;\n  const sku = extractSKU(data);\n  \n  if (!itemsBySKU[sku]) {\n    itemsBySKU[sku] = [];\n  }\n  \n  itemsBySKU[sku].push(item);\n});\n\nconst uniqueItems = [];\nlet skusWithDuplicates = 0;\nlet totalDuplicatesRemoved = 0;\n\nObject.keys(itemsBySKU).forEach(sku => {\n  const itemsForSKU = itemsBySKU[sku];\n  \n  if (itemsForSKU.length === 1) {\n    uniqueItems.push(itemsForSKU[0]);\n  } else {\n    skusWithDuplicates++;\n    totalDuplicatesRemoved += (itemsForSKU.length - 1);\n    \n    const sortedItems = itemsForSKU.sort((a, b) => {\n      const statusPriority = { 'active': 1, 'paused': 2, 'closed': 3, 'inactive': 4 };\n      const priorityA = statusPriority[a.json.status] || 99;\n      const priorityB = statusPriority[b.json.status] || 99;\n      return priorityA - priorityB;\n    });\n    \n    const selectedItem = sortedItems[0];\n    const mlcIds = itemsForSKU.map(i => i.json.id);\n    const stock = selectedItem.json.available_quantity || 0;\n    \n    console.log(`🔄 SKU ${sku}: ${itemsForSKU.length} publicaciones duplicadas (MLCs: ${mlcIds.join(', ')}) → Tomando ${selectedItem.json.id} con stock: ${stock}`);\n    \n    uniqueItems.push(selectedItem);\n  }\n});\n\nitems = uniqueItems;\n\nconsole.log(`✅ Items después de filtrar duplicados: ${items.length}`);\nconsole.log(`📊 SKUs con duplicados: ${skusWithDuplicates}`);\nconsole.log(`🗑️ Publicaciones duplicadas removidas: ${totalDuplicatesRemoved}`);\n\n// ========================================\n// PASO 6: PROCESAR Y CREAR OUTPUT FINAL\n// ========================================\nconst output = [];\nlet totalValorizado = 0;\nlet productosConCosto = 0;\nlet productosSinCosto = 0;\nlet totalReposicionNecesaria = 0;\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const data = item.json;\n  const sku = extractSKU(data);\n  const mlcId = data.id;\n  const salesInfo = salesBySKU[sku] || { \n    sales_30d: 0, \n    sales_60d: 0,\n    sales_30d_full: 0,\n    sales_30d_flex: 0,\n    sales_60d_full: 0,\n    sales_60d_flex: 0\n  };\n  \n  if (i % 50 === 0) {\n    console.log(`📊 Procesando item ${i + 1}/${items.length}...`);\n  }\n  \n  // Determinar stock por bodega\n  let stockFull = 0;\n  let stockFlex = 0;\n  \n  if (data.shipping && data.shipping.logistic_type) {\n    const logisticType = data.shipping.logistic_type;\n    \n    if (logisticType === 'fulfillment') {\n      stockFull = data.available_quantity || 0;\n    } else if (logisticType === 'cross_docking' || logisticType === 'xd_drop_off') {\n      stockFlex = data.available_quantity || 0;\n    } else {\n      stockFlex = data.available_quantity || 0;\n    }\n  } else {\n    stockFlex = data.available_quantity || 0;\n  }\n  \n  // Buscar costo\n  let costInfo = costsBySKU[sku] || costsByMLC[mlcId] || null;\n  \n  let proveedor = 'Sin proveedor';\n  let costoUnitario = 0;\n  let valorStock = 0;\n  \n  if (costInfo) {\n    proveedor = costInfo.proveedor;\n    costoUnitario = costInfo.costo;\n    valorStock = costoUnitario * (data.available_quantity || 0);\n    totalValorizado += valorStock;\n    productosConCosto++;\n  } else {\n    productosSinCosto++;\n  }\n  \n  // CALCULAR NECESIDAD DE REPOSICIÓN\n  const stockTotal = data.available_quantity || 0;\n  const reposicionNecesaria = Math.max(0, salesInfo.sales_30d - stockTotal);\n  \n  // Sugerencia de distribución FULL vs FLEX basada en patrones de venta\n  let reposicionFullSugerida = 0;\n  let reposicionFlexSugerida = 0;\n  \n  if (reposicionNecesaria > 0) {\n    totalReposicionNecesaria += reposicionNecesaria;\n    \n    // Calcular proporción de ventas FULL vs FLEX\n    const totalSalesThisItem = salesInfo.sales_30d;\n    if (totalSalesThisItem > 0) {\n      const ratioFull = salesInfo.sales_30d_full / totalSalesThisItem;\n      const ratioFlex = salesInfo.sales_30d_flex / totalSalesThisItem;\n      \n      reposicionFullSugerida = Math.ceil(reposicionNecesaria * ratioFull);\n      reposicionFlexSugerida = Math.ceil(reposicionNecesaria * ratioFlex);\n    } else {\n      // Si no hay ventas, sugerir 50/50\n      reposicionFullSugerida = Math.ceil(reposicionNecesaria / 2);\n      reposicionFlexSugerida = Math.floor(reposicionNecesaria / 2);\n    }\n  }\n  \n  output.push({\n    json: {\n      sku: sku,\n      item_id: mlcId,\n      title: data.title,\n      proveedor: proveedor,\n      stock_ml: stockTotal,\n      stock_full: stockFull,\n      stock_flex: stockFlex,\n      costo_unitario: costoUnitario,\n      valor_stock: valorStock,\n      price: data.price,\n      sales_30d: salesInfo.sales_30d,\n      sales_30d_full: salesInfo.sales_30d_full,\n      sales_30d_flex: salesInfo.sales_30d_flex,\n      sales_60d: salesInfo.sales_60d,\n      sales_60d_full: salesInfo.sales_60d_full,\n      sales_60d_flex: salesInfo.sales_60d_flex,\n      reposicion_necesaria: reposicionNecesaria,\n      reposicion_full_sugerida: reposicionFullSugerida,\n      reposicion_flex_sugerida: reposicionFlexSugerida,\n      last_update: new Date().toISOString(),\n      permalink: data.permalink,\n      status: data.status\n    }\n  });\n}\n\nconsole.log(`✅ Total productos procesados: ${output.length}`);\nconsole.log(`💰 Productos con costo: ${productosConCosto}`);\nconsole.log(`⚠️ Productos SIN costo: ${productosSinCosto}`);\nconsole.log(`💵 Valor total inventario: $${totalValorizado.toLocaleString('es-CL')}`);\nconsole.log(`🔄 Total unidades a reponer: ${totalReposicionNecesaria}`);\n\n// Contar items por estado\nconst itemsByStatus = {};\noutput.forEach(item => {\n  const status = item.json.status;\n  itemsByStatus[status] = (itemsByStatus[status] || 0) + 1;\n});\n\nconsole.log('📊 Items por estado:');\nObject.keys(itemsByStatus).forEach(status => {\n  console.log(`  - ${status}: ${itemsByStatus[status]} items`);\n});\n\nconst itemsWithSales = output.filter(item => item.json.sales_30d > 0 || item.json.sales_60d > 0);\nconsole.log(`🎯 Productos con ventas: ${itemsWithSales.length}`);\n\nconst itemsNeedingRestock = output.filter(item => item.json.reposicion_necesaria > 0);\nconsole.log(`🔄 Productos que necesitan reposición: ${itemsNeedingRestock.length}`);\n\n// ========================================\n// PASO 7: ORDENAR POR PROVEEDOR\n// ========================================\nconsole.log('📊 Ordenando output por proveedor...');\n\noutput.sort((a, b) => {\n  const provA = (a.json.proveedor || 'ZZZ Sin proveedor').toLowerCase();\n  const provB = (b.json.proveedor || 'ZZZ Sin proveedor').toLowerCase();\n  return provA.localeCompare(provB);\n});\n\n// Reorganizar campos para que proveedor sea primero\nconst reorderedOutput = output.map(item => ({\n  json: {\n    proveedor: item.json.proveedor,\n    sku: item.json.sku,\n    item_id: item.json.item_id,\n    title: item.json.title,\n    stock_ml: item.json.stock_ml,\n    stock_full: item.json.stock_full,\n    stock_flex: item.json.stock_flex,\n    costo_unitario: item.json.costo_unitario,\n    valor_stock: item.json.valor_stock,\n    price: item.json.price,\n    sales_30d: item.json.sales_30d,\n    sales_30d_full: item.json.sales_30d_full,\n    sales_30d_flex: item.json.sales_30d_flex,\n    sales_60d: item.json.sales_60d,\n    sales_60d_full: item.json.sales_60d_full,\n    sales_60d_flex: item.json.sales_60d_flex,\n    reposicion_necesaria: item.json.reposicion_necesaria,\n    reposicion_full_sugerida: item.json.reposicion_full_sugerida,\n    reposicion_flex_sugerida: item.json.reposicion_flex_sugerida,\n    last_update: item.json.last_update,\n    permalink: item.json.permalink,\n    status: item.json.status\n  }\n}));\n\nconsole.log('✅ Output ordenado por proveedor');\n\nreturn reorderedOutput;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2160,-48],"id":"a52cff52-aeb1-4398-a109-5b7e94bd1919","name":"Process_Inventory_With_Costs"},{"parameters":{"jsCode":"const inventoryData = $input.all();\n\nconsole.log(`📊 Generando reporte por proveedor de ${inventoryData.length} productos`);\n\n// Agrupar por proveedor\nconst reportByProvider = {};\n\ninventoryData.forEach(item => {\n  const data = item.json;\n  const proveedor = data.proveedor || 'Sin proveedor';\n  \n  if (!reportByProvider[proveedor]) {\n    reportByProvider[proveedor] = {\n      proveedor: proveedor,\n      cantidad_skus: 0,\n      stock_total: 0,\n      stock_full: 0,\n      stock_flex: 0,\n      valor_inventario: 0,\n      sales_30d: 0,\n      sales_60d: 0,\n      valor_ventas_30d: 0,\n      valor_ventas_60d: 0\n    };\n  }\n  \n  const provider = reportByProvider[proveedor];\n  \n  provider.cantidad_skus++;\n  provider.stock_total += data.stock_ml || 0;\n  provider.stock_full += data.stock_full || 0;\n  provider.stock_flex += data.stock_flex || 0;\n  provider.valor_inventario += data.valor_stock || 0;\n  provider.sales_30d += data.sales_30d || 0;\n  provider.sales_60d += data.sales_60d || 0;\n  \n  // Calcular valor de ventas (precio × cantidad vendida)\n  if (data.sales_30d > 0) {\n    provider.valor_ventas_30d += (data.price || 0) * (data.sales_30d || 0);\n  }\n  if (data.sales_60d > 0) {\n    provider.valor_ventas_60d += (data.price || 0) * (data.sales_60d || 0);\n  }\n});\n\n// Convertir a array y ordenar por valor de inventario\nconst report = Object.values(reportByProvider).sort((a, b) => b.valor_inventario - a.valor_inventario);\n\nconsole.log(`✅ Reporte generado para ${report.length} proveedores`);\n\n// Mostrar resumen\nreport.slice(0, 5).forEach(p => {\n  console.log(`📦 ${p.proveedor}: ${p.cantidad_skus} SKUs, Stock: ${p.stock_total}, Valor: $${p.valor_inventario.toLocaleString('es-CL')}`);\n});\n\n// Agregar totales\nconst totales = {\n  proveedor: '🔷 TOTAL GENERAL',\n  cantidad_skus: report.reduce((sum, p) => sum + p.cantidad_skus, 0),\n  stock_total: report.reduce((sum, p) => sum + p.stock_total, 0),\n  stock_full: report.reduce((sum, p) => sum + p.stock_full, 0),\n  stock_flex: report.reduce((sum, p) => sum + p.stock_flex, 0),\n  valor_inventario: report.reduce((sum, p) => sum + p.valor_inventario, 0),\n  sales_30d: report.reduce((sum, p) => sum + p.sales_30d, 0),\n  sales_60d: report.reduce((sum, p) => sum + p.sales_60d, 0),\n  valor_ventas_30d: report.reduce((sum, p) => sum + p.valor_ventas_30d, 0),\n  valor_ventas_60d: report.reduce((sum, p) => sum + p.valor_ventas_60d, 0)\n};\n\nreport.push(totales);\n\nreturn report.map(p => ({ json: p }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-48],"id":"ab3cf3d8-0e4c-476a-842d-654229b060a0","name":"Generate_Provider_Report"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?hl=es&gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Inventario_Actual","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["sku"],"schema":[{"id":"sku","displayName":"sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"proveedor","displayName":"proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stock_ml","displayName":"stock_ml","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stock_full","displayName":"stock_full","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stock_flex","displayName":"stock_flex","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"costo_unitario","displayName":"costo_unitario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor_stock","displayName":"valor_stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sales_30d","displayName":"sales_30d","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sales_60d","displayName":"sales_60d","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_update","displayName":"last_update","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"permalink","displayName":"permalink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2432,-432],"id":"c4761a6e-c533-4b93-a777-4c64e46d714b","name":"Write_Inventory_Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"MELI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":822972865,"mode":"list","cachedResultName":"Reporte_Proveedores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=822972865"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["proveedor"],"schema":[{"id":"proveedor","displayName":"proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2624,-48],"id":"03a60fe7-9180-449c-aad5-1ada30b7ebfc","name":"Write_Provider_Report","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1984,-64],"id":"ffab54dd-8ec3-4b97-8eed-d04b6fb7e37f","name":"Merge"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"MELI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":294525172,"mode":"list","cachedResultName":"Reposicion_Necesaria","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=294525172"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["proveedor"],"schema":[{"id":"proveedor","displayName":"proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cantidad_skus","displayName":"cantidad_skus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_unidades_necesarias","displayName":"total_unidades_necesarias","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unidades_full","displayName":"unidades_full","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unidades_flex","displayName":"unidades_flex","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor_inversion","displayName":"valor_inversion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"detalle_skus","displayName":"detalle_skus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2608,176],"id":"db003ce4-91ce-4bfe-9db2-cbd5a54a2842","name":"Write_Restock_Report","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const inventoryData = $input.all();\n\nconsole.log(`📦 Procesando ${inventoryData.length} items para reportes de proveedores`);\n\n// Agrupar por proveedor\nconst byProvider = {};\n\ninventoryData.forEach(item => {\n  const data = item.json;\n  const proveedor = data.proveedor || 'Sin proveedor';\n  \n  if (!byProvider[proveedor]) {\n    byProvider[proveedor] = [];\n  }\n  \n  byProvider[proveedor].push(data);\n});\n\nconsole.log(`📊 Proveedores encontrados: ${Object.keys(byProvider).length}`);\n\n// Generar estructura de datos para cada proveedor\nconst providerReports = [];\n\nObject.keys(byProvider).sort().forEach(proveedor => {\n  const items = byProvider[proveedor];\n  \n  // Filtrar items que necesitan reposición\n  const itemsConReposicion = items.filter(i => (i.reposicion_necesaria || 0) > 0);\n  \n  if (itemsConReposicion.length === 0) {\n    console.log(`⚠️ ${proveedor}: sin items para reponer, saltando...`);\n    return;\n  }\n  \n  console.log(`🏢 ${proveedor}: ${itemsConReposicion.length} items necesitan reposición`);\n  \n  // ==== CALCULAR TOTALES ====\n  const totales = {\n    ventas_full_30d: items.reduce((sum, i) => sum + (i.sales_30d_full || 0), 0),\n    ventas_flex_30d: items.reduce((sum, i) => sum + (i.sales_30d_flex || 0), 0),\n    stock_bodega: items.reduce((sum, i) => sum + (i.stock_flex || 0), 0),\n    stock_full: items.reduce((sum, i) => sum + (i.stock_full || 0), 0),\n    reponer_bodega: itemsConReposicion.reduce((sum, i) => sum + (i.reposicion_flex_sugerida || 0), 0),\n    reponer_full: itemsConReposicion.reduce((sum, i) => sum + (i.reposicion_full_sugerida || 0), 0),\n    total_reponer: itemsConReposicion.reduce((sum, i) => sum + (i.reposicion_necesaria || 0), 0)\n  };\n  \n  totales.total_ventas_30d = totales.ventas_full_30d + totales.ventas_flex_30d;\n  \n  // ==== PREPARAR FILAS PARA GOOGLE SHEETS ====\n  const sheetRows = [];\n  \n  // FILA 1: ENCABEZADO CON TOTALES\n  sheetRows.push({\n    row_type: 'HEADER',\n    item_id_1: '',\n    item_id_2: '',\n    proveedor: proveedor,\n    sku: '',\n    titulo: '',\n    ventas_full_30d: totales.ventas_full_30d,\n    ventas_flex_30d: totales.ventas_flex_30d,\n    stock_bodega: totales.stock_bodega,\n    reponer_bodega: totales.reponer_bodega,\n    stock_full: totales.stock_full,\n    reponer_full: totales.reponer_full,\n    total_reponer: totales.total_reponer,\n    un_caja_master: '',\n    cajas_master: '',\n    costo_unitario: ''\n  });\n  \n  // FILA 2: TOTAL (resumen amarillo)\n  sheetRows.push({\n    row_type: 'TOTAL',\n    item_id_1: '',\n    item_id_2: '',\n    proveedor: 'TOTAL',\n    sku: '',\n    titulo: '',\n    ventas_full_30d: totales.ventas_full_30d,\n    ventas_flex_30d: totales.ventas_flex_30d,\n    stock_bodega: totales.stock_bodega,\n    reponer_bodega: totales.reponer_bodega,\n    stock_full: totales.stock_full,\n    reponer_full: totales.reponer_full,\n    total_reponer: totales.total_reponer,\n    un_caja_master: '',\n    cajas_master: totales.total_reponer,\n    costo_unitario: ''\n  });\n  \n  // SECCIÓN: FORMATO ORDEN DE COMPRA\n  let totalMontoNeto = 0;\n  let totalMontoBruto = 0;\n  let totalUnidades = 0;\n  \n  itemsConReposicion.forEach(item => {\n    const montoNeto = item.costo_unitario * item.reposicion_necesaria;\n    const montoBruto = montoNeto * 1.19;\n    \n    totalMontoNeto += montoNeto;\n    totalMontoBruto += montoBruto;\n    totalUnidades += item.reposicion_necesaria;\n    \n    sheetRows.push({\n      row_type: 'ORDEN_COMPRA',\n      codigo_ml: item.item_id,\n      sku: item.sku,\n      producto: item.title,\n      cajas_master: 1, // Placeholder\n      unidades: item.reposicion_necesaria,\n      costo_unit: Math.round(item.costo_unitario),\n      monto_neto: Math.round(montoNeto),\n      monto_bruto: Math.round(montoBruto),\n      unid_bodega: item.reposicion_flex_sugerida,\n      unid_full: item.reposicion_full_sugerida,\n      ultima_utilidad: '',\n      rentabilidad_pct: ''\n    });\n  });\n  \n  // TOTAL ORDEN DE COMPRA\n  sheetRows.push({\n    row_type: 'TOTAL_COMPRA',\n    sku: 'TOTAL',\n    unidades: totalUnidades,\n    monto_neto: Math.round(totalMontoNeto),\n    monto_bruto: Math.round(totalMontoBruto),\n    unid_bodega: totales.reponer_bodega,\n    unid_full: totales.reponer_full\n  });\n  \n  // SECCIÓN: ORDEN DE COMPRA - PROVEEDOR (sin costos)\n  itemsConReposicion.forEach(item => {\n    sheetRows.push({\n      row_type: 'ORDEN_PROVEEDOR',\n      sku: item.sku,\n      producto: item.title,\n      unidades: item.reposicion_necesaria,\n      valor_unitario: Math.round(item.costo_unitario),\n      subtotal_neto: Math.round(item.costo_unitario * item.reposicion_necesaria),\n      subtotal_bruto: Math.round(item.costo_unitario * item.reposicion_necesaria * 1.19)\n    });\n  });\n  \n  sheetRows.push({\n    row_type: 'TOTAL_PROVEEDOR',\n    sku: 'TOTAL',\n    unidades: totalUnidades,\n    subtotal_neto: Math.round(totalMontoNeto),\n    subtotal_bruto: Math.round(totalMontoBruto)\n  });\n  \n  // SECCIÓN: LOGÍSTICA - EMPAQUE\n  itemsConReposicion.forEach(item => {\n    sheetRows.push({\n      row_type: 'LOGISTICA',\n      sku: item.sku,\n      producto: item.title,\n      unidades: item.reposicion_necesaria,\n      un_caja_master: 1,\n      cajas_master: item.reposicion_necesaria\n    });\n  });\n  \n  sheetRows.push({\n    row_type: 'TOTAL_LOGISTICA',\n    sku: 'TOTAL',\n    unidades: totalUnidades,\n    cajas_master: totalUnidades\n  });\n  \n  // SECCIÓN: ANÁLISIS DE RENTABILIDAD\n  itemsConReposicion.forEach(item => {\n    const margen = item.price - item.costo_unitario;\n    const rentabilidad = item.price > 0 ? (margen / item.price * 100) : 0;\n    \n    sheetRows.push({\n      row_type: 'RENTABILIDAD',\n      sku: item.sku,\n      producto: item.title,\n      costo_unitario: Math.round(item.costo_unitario),\n      precio_ultima_venta: Math.round(item.price),\n      utilidad: Math.round(margen),\n      rentabilidad_pct: rentabilidad.toFixed(2)\n    });\n  });\n  \n  const promedioRentabilidad = itemsConReposicion.reduce((sum, i) => {\n    const margen = i.price - i.costo_unitario;\n    const rent = i.price > 0 ? (margen / i.price * 100) : 0;\n    return sum + rent;\n  }, 0) / itemsConReposicion.length;\n  \n  sheetRows.push({\n    row_type: 'PROMEDIO_RENTABILIDAD',\n    sku: 'PROMEDIO',\n    costo_unitario: Math.round(totalMontoNeto / totalUnidades),\n    utilidad: Math.round(totalMontoNeto / totalUnidades),\n    rentabilidad_pct: promedioRentabilidad.toFixed(2)\n  });\n  \n  providerReports.push({\n    json: {\n      provider_name: proveedor,\n      sheet_data: sheetRows,\n      total_items: itemsConReposicion.length,\n      inversion_total: Math.round(totalMontoBruto)\n    }\n  });\n  \n  console.log(`   ✅ ${proveedor}: ${sheetRows.length} filas generadas | Inversión: $${Math.round(totalMontoBruto).toLocaleString('es-CL')}`);\n});\n\nconsole.log(`\\n📊 Total proveedores con reportes: ${providerReports.length}`);\n\nreturn providerReports;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,-256],"id":"d450b01a-398a-495e-a1ea-0bc2bad6c313","name":"Generate_Provider_Sheets"},{"parameters":{"jsCode":"const providers = $input.all();\nconst SPREADSHEET_ID = '1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc'; // ← ID CORRECTO\n\nconsole.log(`📝 Escribiendo datos para ${providers.length} proveedores`);\n\nlet successCount = 0;\nlet errorCount = 0;\nconst errors = [];\n\n// Procesar cada proveedor\nfor (const provider of providers) {\n  const sheetName = provider.json.provider_name;\n  const sheetData = provider.json.sheet_data;\n  \n  if (!sheetData || sheetData.length === 0) {\n    console.log(`⚠️ ${sheetName}: sin datos para escribir, saltando...`);\n    continue;\n  }\n  \n  console.log(`\\n📄 Procesando: ${sheetName} (${sheetData.length} filas)`);\n  \n  try {\n    // 1. LIMPIAR HOJA\n    await this.helpers.httpRequestWithAuthentication.call(\n      this,\n      'googleSheetsOAuth2Api',\n      {\n        method: 'POST',\n        url: `https://sheets.googleapis.com/v4/spreadsheets/${SPREADSHEET_ID}/values/${encodeURIComponent(sheetName)}:clear`,\n        json: true\n      }\n    );\n    \n    console.log(`   🧹 Hoja limpiada: ${sheetName}`);\n    \n    // 2. PREPARAR DATOS EN FORMATO MATRIZ\n    const values = sheetData.map(row => Object.values(row));\n    \n    // 3. ESCRIBIR DATOS\n    await this.helpers.httpRequestWithAuthentication.call(\n      this,\n      'googleSheetsOAuth2Api',\n      {\n        method: 'PUT',\n        url: `https://sheets.googleapis.com/v4/spreadsheets/${SPREADSHEET_ID}/values/${encodeURIComponent(sheetName)}!A1`,\n        body: {\n          values: values,\n          valueInputOption: 'USER_ENTERED'\n        },\n        json: true\n      }\n    );\n    \n    console.log(`   ✅ Escritas ${sheetData.length} filas en: ${sheetName}`);\n    successCount++;\n    \n    // Pequeño delay para evitar rate limit\n    await new Promise(resolve => setTimeout(resolve, 500));\n    \n  } catch (error) {\n    console.error(`   ❌ Error en ${sheetName}:`, error.message);\n    errorCount++;\n    errors.push({\n      provider: sheetName,\n      error: error.message\n    });\n  }\n}\n\nconsole.log(`\\n📊 Resumen final:`);\nconsole.log(`   ✅ Hojas escritas exitosamente: ${successCount}`);\nconsole.log(`   ❌ Hojas con errores: ${errorCount}`);\nconsole.log(`   📝 Total proveedores procesados: ${providers.length}`);\n\nif (errors.length > 0) {\n  console.log(`\\n⚠️ Errores detallados:`);\n  errors.forEach(e => console.log(`   - ${e.provider}: ${e.error}`));\n}\n\nreturn [{\n  json: {\n    success: errorCount === 0,\n    providers_written: successCount,\n    errors: errorCount,\n    total_providers: providers.length,\n    error_details: errors.length > 0 ? errors : undefined\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3088,-256],"id":"c4003494-fa78-436f-8b97-47fd8e70c989","name":"Write_Provider_Sheets"},{"parameters":{"jsCode":"const providers = $input.all();\nconst SPREADSHEET_ID = '1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc'; // ← ID CORRECTO\n\nconsole.log(`📋 Verificando hojas para ${providers.length} proveedores`);\n\n// SOLUCIÓN CORRECTA: Usar httpRequestWithAuthentication\ntry {\n  // Obtener hojas existentes usando el helper con autenticación\n  const existingSheets = await this.helpers.httpRequestWithAuthentication.call(\n    this,\n    'googleSheetsOAuth2Api',\n    {\n      method: 'GET',\n      url: `https://sheets.googleapis.com/v4/spreadsheets/${SPREADSHEET_ID}`,\n      json: true\n    }\n  );\n  \n  console.log('✅ Hojas existentes obtenidas correctamente');\n  \n  const existingSheetNames = existingSheets.sheets.map(s => s.properties.title);\n  console.log(`📋 Total hojas existentes: ${existingSheetNames.length}`);\n  console.log(`   Hojas: ${existingSheetNames.slice(0, 5).join(', ')}${existingSheetNames.length > 5 ? '...' : ''}`);\n  \n  // Identificar hojas faltantes\n  const requests = [];\n  \n  providers.forEach(provider => {\n    const providerName = provider.json.provider_name;\n    \n    if (!existingSheetNames.includes(providerName)) {\n      console.log(`➕ Necesita crear hoja: ${providerName}`);\n      requests.push({\n        addSheet: {\n          properties: {\n            title: providerName,\n            gridProperties: {\n              rowCount: 100,\n              columnCount: 20\n            }\n          }\n        }\n      });\n    } else {\n      console.log(`✅ Hoja ya existe: ${providerName}`);\n    }\n  });\n  \n  // Crear hojas faltantes si hay alguna\n  if (requests.length > 0) {\n    console.log(`\\n📝 Creando ${requests.length} hojas nuevas...`);\n    \n    const batchUpdateResult = await this.helpers.httpRequestWithAuthentication.call(\n      this,\n      'googleSheetsOAuth2Api',\n      {\n        method: 'POST',\n        url: `https://sheets.googleapis.com/v4/spreadsheets/${SPREADSHEET_ID}:batchUpdate`,\n        body: {\n          requests: requests\n        },\n        json: true\n      }\n    );\n    \n    console.log(`✅ Hojas creadas exitosamente`);\n    console.log(`   Nuevas hojas: ${requests.map(r => r.addSheet.properties.title).join(', ')}`);\n  } else {\n    console.log('✅ Todas las hojas ya existen, no hay nada que crear');\n  }\n  \n  console.log(`\\n📊 Resumen:`);\n  console.log(`   Proveedores procesados: ${providers.length}`);\n  console.log(`   Hojas existentes previas: ${existingSheetNames.length}`);\n  console.log(`   Hojas nuevas creadas: ${requests.length}`);\n  \n  return $input.all(); // Pasar los datos al siguiente nodo\n  \n} catch (error) {\n  console.error('❌ Error en Create_Or_Update_Provider_Sheets:', error.message);\n  \n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      stack: error.stack,\n      spreadsheet_id: SPREADSHEET_ID\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,-256],"id":"076d5f8f-b7d0-4c8d-b259-74b2c020300b","name":"Create_Or_Update_Provider_Sheets"},{"parameters":{"jsCode":"const inventoryData = $input.all();\n\nconsole.log(`📦 Procesando ${inventoryData.length} items para reporte de reposición`);\n\n// Filtrar solo productos que necesitan reposición\nconst itemsNeedingRestock = inventoryData.filter(item => \n  item.json.reposicion_necesaria > 0\n);\n\nconsole.log(`🔄 Productos que necesitan reposición: ${itemsNeedingRestock.length}`);\n\nif (itemsNeedingRestock.length === 0) {\n  console.log('✅ No hay productos que necesiten reposición');\n  return [{\n    json: {\n      proveedor: '✅ SIN NECESIDAD DE REPOSICIÓN',\n      cantidad_skus: 0,\n      total_unidades_necesarias: 0,\n      unidades_full: 0,\n      unidades_flex: 0,\n      valor_inversion: 0\n    }\n  }];\n}\n\n// Agrupar por proveedor\nconst byProvider = {};\n\nitemsNeedingRestock.forEach(item => {\n  const data = item.json;\n  const proveedor = data.proveedor || 'Sin proveedor';\n  \n  if (!byProvider[proveedor]) {\n    byProvider[proveedor] = {\n      items: [],\n      total_unidades: 0,\n      total_full: 0,\n      total_flex: 0,\n      total_inversion: 0\n    };\n  }\n  \n  byProvider[proveedor].items.push(data);\n  byProvider[proveedor].total_unidades += data.reposicion_necesaria;\n  byProvider[proveedor].total_full += data.reposicion_full_sugerida;\n  byProvider[proveedor].total_flex += data.reposicion_flex_sugerida;\n  byProvider[proveedor].total_inversion += (data.costo_unitario * data.reposicion_necesaria);\n});\n\n// Generar reporte\nconst report = [];\n\nObject.keys(byProvider).forEach(proveedor => {\n  const data = byProvider[proveedor];\n  \n  report.push({\n    json: {\n      proveedor: proveedor,\n      cantidad_skus: data.items.length,\n      total_unidades_necesarias: data.total_unidades,\n      unidades_full: data.total_full,\n      unidades_flex: data.total_flex,\n      valor_inversion: Math.round(data.total_inversion),\n      detalle_skus: data.items.map(i => `${i.sku} (${i.reposicion_necesaria})`).join(', ')\n    }\n  });\n});\n\n// Ordenar por valor de inversión\nreport.sort((a, b) => b.json.valor_inversion - a.json.valor_inversion);\n\n// Agregar fila de totales\nconst totals = report.reduce((acc, r) => ({\n  cantidad_skus: acc.cantidad_skus + r.json.cantidad_skus,\n  total_unidades: acc.total_unidades + r.json.total_unidades_necesarias,\n  total_full: acc.total_full + r.json.unidades_full,\n  total_flex: acc.total_flex + r.json.unidades_flex,\n  total_inversion: acc.total_inversion + r.json.valor_inversion\n}), { cantidad_skus: 0, total_unidades: 0, total_full: 0, total_flex: 0, total_inversion: 0 });\n\nreport.push({\n  json: {\n    proveedor: '🔷 TOTAL GENERAL',\n    cantidad_skus: totals.cantidad_skus,\n    total_unidades_necesarias: totals.total_unidades,\n    unidades_full: totals.total_full,\n    unidades_flex: totals.total_flex,\n    valor_inversion: totals.total_inversion,\n    detalle_skus: ''\n  }\n});\n\nconsole.log(`\\n📊 Resumen de reposición:`);\nconsole.log(`   📦 Total SKUs: ${totals.cantidad_skus}`);\nconsole.log(`   📈 Total unidades: ${totals.total_unidades}`);\nconsole.log(`   🏢 Enviar a FULL: ${totals.total_full}`);\nconsole.log(`   📦 Mantener FLEX: ${totals.total_flex}`);\nconsole.log(`   💰 Inversión requerida: $${totals.total_inversion.toLocaleString('es-CL')}`);\n\nreturn report;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,176],"id":"11e14e33-e1ed-4157-9dd6-37c643e2462f","name":"Generate_Restock_Report"},{"parameters":{"url":"https://sheets.googleapis.com/v4/spreadsheets/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc?fields=spreadsheetId","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2624,-256],"id":"00a17e8d-6d93-4de1-883c-912529b4c603","name":"Activate_Sheets_Credentials","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Get_user_info":{"main":[[{"node":"Get_All_Items_Paginated","type":"main","index":0},{"node":"Get_Sales_60d_Paginated","type":"main","index":0},{"node":"Read_Provider_Costs","type":"main","index":0}]]},"Extract_Token":{"main":[[{"node":"Get_user_info","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"Extract_Token","type":"main","index":0}]]},"Get_Item_Details":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get_All_Items_Paginated":{"main":[[{"node":"Get_Item_Details","type":"main","index":0}]]},"Get_Sales_60d_Paginated":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Process_Inventory_With_Costs":{"main":[[{"node":"Write_Inventory_Sheet","type":"main","index":0},{"node":"Generate_Restock_Report","type":"main","index":0},{"node":"Generate_Provider_Sheets","type":"main","index":0},{"node":"Generate_Provider_Report","type":"main","index":0}]]},"Generate_Provider_Report":{"main":[[{"node":"Write_Provider_Report","type":"main","index":0}]]},"Read_Provider_Costs":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Process_Inventory_With_Costs","type":"main","index":0}]]},"Generate_Provider_Sheets":{"main":[[{"node":"Activate_Sheets_Credentials","type":"main","index":0}]]},"Write_Provider_Sheets":{"main":[[]]},"Create_Or_Update_Provider_Sheets":{"main":[[{"node":"Write_Provider_Sheets","type":"main","index":0}]]},"Generate_Restock_Report":{"main":[[{"node":"Write_Restock_Report","type":"main","index":0}]]},"Activate_Sheets_Credentials":{"main":[[{"node":"Create_Or_Update_Provider_Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[6]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-12-03T09:55:57.772-05:00","Readable date":"December 3rd 2025, 9:55:57 am","Readable time":"9:55:57 am","Day of week":"Wednesday","Year":"2025","Month":"December","Day of month":"03","Hour":"09","Minute":"55","Second":"57","Timezone":"America/New_York (UTC-05:00)"}}]},"versionId":"8319b87b-43b8-4b13-94ec-d4f25ad5d8b3","activeVersionId":null,"versionCounter":128,"triggerCount":1,"shared":[{"updatedAt":"2025-12-02T22:16:29.969Z","createdAt":"2025-12-02T22:16:29.969Z","role":"workflow:owner","workflowId":"SDcMXiBg5IRlShp3","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}