n8n/18-12-25 workflow/maria_agente_postventa.json
{"updatedAt":"2025-12-18T02:10:58.154Z","createdAt":"2025-12-18T02:10:58.154Z","id":"TYaLCGk2G8VZ1uyW","name":"MarIA - Agente Postventa (Supabase)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-496,-80],"id":"20668618-d715-417d-ae3e-d39d7c3f49a1","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"TG-69322bd1aad70a0001bbe607-2303729344"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-272,-80],"id":"a2ffd713-f32c-4ec8-bd47-ced52f438a61","name":"Refresh_ML_Token"},{"parameters":{"url":"=https://api.mercadolibre.com/users/{{ $json.user_id }}/items/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"offset","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-96,-80],"id":"7d844281-11ec-4759-bc5a-05ad6ff61687","name":"MLC","executeOnce":false},{"parameters":{"httpMethod":"POST","path":"postventa-demo","responseMode":"responseNode","options":{}},"id":"15d72fa0-75fa-44c7-8461-84b4c1290248","name":"Webhook Postventa","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[96,-288],"webhookId":"postventa-demo"},{"parameters":{"jsCode":"// Extraer datos del mensaje entrante\nconst body = $input.first().json.body || $input.first().json;\nconst simulation = body._simulation || body;\n\n// Datos del mensaje\nconst message = simulation.message || '';\nconst orderId = simulation.order_id || '';\nconst buyerName = simulation.buyer?.first_name || 'Cliente';\nconst buyerId = simulation.buyer?.id || '';\n\n// Datos del producto\nconst productTitle = simulation.product?.title || '';\nconst productSku = simulation.product?.sku || '';\nconst productPrice = simulation.product?.price || 0;\n\n// Datos del envio\nconst shippingStatus = simulation.shipping?.status || 'unknown';\nconst trackingNumber = simulation.shipping?.tracking_number || '';\nconst carrier = simulation.shipping?.carrier || '';\nconst dateDelivered = simulation.shipping?.date_delivered || null;\n\n// Datos de facturacion\nconst docType = simulation.billing?.doc_type || 'DNI';\nconst canReceiveFacturaA = simulation.billing?.can_receive_factura_a || false;\n\n// Calcular dias desde entrega\nlet daysSinceDelivery = null;\nif (dateDelivered) {\n  const delivered = new Date(dateDelivered);\n  const now = new Date();\n  daysSinceDelivery = Math.floor((now - delivered) / (1000 * 60 * 60 * 24));\n}\n\n// Detectar tipo de consulta\nconst msgLower = message.toLowerCase();\nlet queryType = 'general';\nlet toolToUse = null;\n\nif (msgLower.includes('donde') && (msgLower.includes('pedido') || msgLower.includes('envio') || msgLower.includes('paquete'))) {\n  queryType = 'tracking';\n  toolToUse = 'tracking_lookup';\n} else if (msgLower.includes('factura')) {\n  queryType = 'facturacion';\n  toolToUse = 'billing_check';\n} else if (msgLower.includes('devol') || msgLower.includes('reembolso')) {\n  queryType = 'devolucion';\n  toolToUse = 'return_policy_check';\n} else if (msgLower.includes('garantia') || msgLower.includes('falla') || msgLower.includes('defecto') || msgLower.includes('roto')) {\n  queryType = 'garantia';\n  toolToUse = 'warranty_check';\n} else if (msgLower.includes('instala') || msgLower.includes('armar') || msgLower.includes('configur')) {\n  queryType = 'instalacion';\n  toolToUse = 'knowledge_base';\n} else if (msgLower.includes('gracias') || msgLower.includes('excelente') || msgLower.includes('genial')) {\n  queryType = 'agradecimiento';\n  toolToUse = null;\n}\n\nreturn {\n  json: {\n    // Datos originales\n    rawMessage: message,\n    orderId,\n    buyerName,\n    buyerId,\n    \n    // Producto\n    product: {\n      title: productTitle,\n      sku: productSku,\n      price: productPrice\n    },\n    \n    // Envio\n    shipping: {\n      status: shippingStatus,\n      trackingNumber,\n      carrier,\n      dateDelivered,\n      daysSinceDelivery\n    },\n    \n    // Facturacion\n    billing: {\n      docType,\n      canReceiveFacturaA\n    },\n    \n    // Analisis\n    queryType,\n    toolToUse,\n    \n    // Para el prompt\n    contextForAI: `\nCliente: ${buyerName}\nProducto: ${productTitle} (${productSku})\nPrecio: $${productPrice?.toLocaleString()}\nEstado envio: ${shippingStatus}\nTracking: ${trackingNumber || 'N/A'}\nDias desde entrega: ${daysSinceDelivery !== null ? daysSinceDelivery : 'No entregado'}\nTipo doc: ${docType}\nPuede Factura A: ${canReceiveFacturaA ? 'Si' : 'No'}\nTipo consulta detectada: ${queryType}\n`\n  }\n};"},"id":"d7710c05-fcaa-49c1-bb6f-036251956a88","name":"Parsear Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-288]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"2a69d1d2-908f-4956-86ea-b6b42e2f8048","name":"Tipo de Consulta","type":"n8n-nodes-base.switch","typeVersion":3,"position":[544,-288],"onFalse":"continue"},{"parameters":{"jsCode":"// Generar respuesta de tracking\nconst data = $input.first().json;\nconst shipping = data.shipping;\nconst buyerName = data.buyerName;\nconst productTitle = data.product.title;\n\nlet response = '';\n\nswitch (shipping.status) {\n  case 'delivered':\n    response = `Hola ${buyerName}! Tu pedido de ${productTitle} ya fue entregado hace ${shipping.daysSinceDelivery} dias. Si no lo recibiste o tenes algun problema, por favor avisanos para ayudarte.`;\n    break;\n  case 'in_transit':\n    response = `Hola ${buyerName}! Tu pedido de ${productTitle} esta en camino. El numero de seguimiento es ${shipping.trackingNumber || 'pendiente de asignacion'}. Podes seguirlo desde la app. La entrega estimada es en los proximos 2-3 dias habiles.`;\n    break;\n  case 'pending':\n    response = `Hola ${buyerName}! Tu pedido de ${productTitle} esta siendo preparado en nuestro deposito. En las proximas 24-48hs te enviamos el numero de seguimiento. Gracias por tu paciencia!`;\n    break;\n  case 'shipped':\n    response = `Hola ${buyerName}! Tu pedido de ${productTitle} ya salio de nuestro deposito! El tracking es ${shipping.trackingNumber}. Transportista: ${shipping.carrier}. Seguilo en tiempo real desde la app.`;\n    break;\n  default:\n    response = `Hola ${buyerName}! Dejame verificar el estado de tu pedido de ${productTitle}. En breve te doy una actualizacion.`;\n}\n\nreturn {\n  json: {\n    ...data,\n    aiResponse: response,\n    toolUsed: 'tracking_lookup',\n    shouldEscalate: false\n  }\n};"},"id":"3ecdb1c4-880f-4b88-9dd5-2550d947db2f","name":"Respuesta Tracking","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-448]},{"parameters":{"jsCode":"// Generar respuesta de facturacion\nconst data = $input.first().json;\nconst billing = data.billing;\nconst buyerName = data.buyerName;\nconst productTitle = data.product.title;\n\nlet response = '';\nlet shouldEscalate = false;\n\nif (data.rawMessage.toLowerCase().includes('factura a')) {\n  if (billing.canReceiveFacturaA) {\n    response = `Hola ${buyerName}! Revise tus datos y confirmo que te corresponde Factura A por tu compra de ${productTitle}. La estamos generando y te la enviamos por email en las proximas 24-48hs habiles. Si necesitas que la enviemos a otro mail, avisame!`;\n  } else {\n    response = `Hola ${buyerName}! Vi que pedis Factura A, pero segun tus datos registrados (${billing.docType}), corresponde Factura B para Consumidor Final. Si sos monotributista o responsable inscripto, por favor envianos tu CUIT y razon social para actualizar la facturacion.`;\n  }\n} else {\n  response = `Hola ${buyerName}! Tu factura por la compra de ${productTitle} se genera automaticamente y se envia por email. Si necesitas Factura A, indicame tu CUIT y condicion fiscal.`;\n}\n\nreturn {\n  json: {\n    ...data,\n    aiResponse: response,\n    toolUsed: 'billing_check',\n    shouldEscalate\n  }\n};"},"id":"323bc861-6b0d-41a1-902b-575f5cede1bc","name":"Respuesta Facturacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-288]},{"parameters":{"jsCode":"// Generar respuesta de devolucion\nconst data = $input.first().json;\nconst shipping = data.shipping;\nconst buyerName = data.buyerName;\nconst productTitle = data.product.title;\n\nlet response = '';\nlet shouldEscalate = false;\n\nconst daysSinceDelivery = shipping.daysSinceDelivery;\n\nif (daysSinceDelivery !== null && daysSinceDelivery <= 30) {\n  response = `Hola ${buyerName}! Entiendo que queres devolver ${productTitle}. Como la compra tiene ${daysSinceDelivery} dias desde la entrega, estas dentro del plazo de devolucion (30 dias). Para proceder, necesito saber: El producto esta en su empaque original? Esta en las mismas condiciones que lo recibiste?`;\n  shouldEscalate = true; // Devoluciones siempre escalan para revision humana\n} else if (daysSinceDelivery !== null && daysSinceDelivery > 30) {\n  response = `Hola ${buyerName}! Lamentablemente el plazo de devolucion por arrepentimiento (30 dias) ya vencio para tu compra de ${productTitle} (hace ${daysSinceDelivery} dias). Sin embargo, si el producto tiene algun defecto, la garantia de 6 meses sigue vigente. Contame que paso con el producto?`;\n} else {\n  response = `Hola ${buyerName}! Para ayudarte con la devolucion de ${productTitle}, necesito verificar el estado de tu pedido. Dame un momento...`;\n  shouldEscalate = true;\n}\n\nreturn {\n  json: {\n    ...data,\n    aiResponse: response,\n    toolUsed: 'return_policy_check',\n    shouldEscalate\n  }\n};"},"id":"fb3004b7-cc1c-40fc-956b-a605449ab997","name":"Respuesta Devolucion","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-112]},{"parameters":{"jsCode":"// Generar respuesta de garantia\nconst data = $input.first().json;\nconst shipping = data.shipping;\nconst buyerName = data.buyerName;\nconst productTitle = data.product.title;\n\nlet response = '';\nlet shouldEscalate = true; // Garantias siempre escalan\n\nconst daysSinceDelivery = shipping.daysSinceDelivery;\n\nif (daysSinceDelivery !== null && daysSinceDelivery <= 180) {\n  response = `Hola ${buyerName}! Lamento escuchar que tenes un problema con ${productTitle}. El producto tiene garantia de 6 meses y estas dentro del plazo (${daysSinceDelivery} dias desde la entrega). Para ayudarte, necesito que me cuentes: Cual es el problema especifico? Si podes, enviame fotos o un video del defecto para documentar el caso y agilizar el proceso de garantia.`;\n} else if (daysSinceDelivery !== null && daysSinceDelivery > 180) {\n  response = `Hola ${buyerName}! El periodo de garantia de 6 meses (180 dias) ya finalizo para tu ${productTitle} (hace ${daysSinceDelivery} dias). De todas formas, contame que problema tenes y vemos si hay alguna solucion que podamos ofrecerte.`;\n  shouldEscalate = true;\n} else {\n  response = `Hola ${buyerName}! Para ayudarte con la garantia de ${productTitle}, contame que problema tenes con el producto?`;\n}\n\nreturn {\n  json: {\n    ...data,\n    aiResponse: response,\n    toolUsed: 'warranty_check',\n    shouldEscalate,\n    escalationReason: 'Reclamo de garantia - requiere evaluacion tecnica'\n  }\n};"},"id":"625ccc0f-dc53-4791-a01d-429b19c7e4d1","name":"Respuesta Garantia","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,48]},{"parameters":{"jsCode":"// Generar respuesta generica o agradecimiento\nconst data = $input.first().json;\nconst buyerName = data.buyerName;\nconst productTitle = data.product.title;\nconst queryType = data.queryType;\n\nlet response = '';\n\nif (queryType === 'agradecimiento') {\n  response = `Hola ${buyerName}! Muchas gracias por tu mensaje! Nos alegra mucho saber que estas conforme. Si en el futuro necesitas algo mas o tenes alguna consulta sobre ${productTitle}, estamos para ayudarte. Buen gaming! 🎮`;\n} else if (queryType === 'instalacion') {\n  response = `Hola ${buyerName}! Con gusto te ayudo con la instalacion/configuracion de ${productTitle}. Contame especificamente que necesitas saber o en que paso estas trabado y te guio paso a paso.`;\n} else {\n  response = `Hola ${buyerName}! Gracias por escribirnos. Estoy revisando tu consulta sobre ${productTitle}. En que puedo ayudarte especificamente?`;\n}\n\nreturn {\n  json: {\n    ...data,\n    aiResponse: response,\n    toolUsed: queryType === 'instalacion' ? 'knowledge_base' : null,\n    shouldEscalate: false\n  }\n};"},"id":"2effc7aa-db5a-4bf4-93be-3cbc32b51a8f","name":"Respuesta General","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,208]},{"parameters":{"mode":"chooseBranch","output":"all"},"id":"187b5e09-c42b-4817-b53b-5b9d4517d916","name":"Unir Respuestas","type":"n8n-nodes-base.merge","typeVersion":3,"position":[976,-112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"should-escalate","leftValue":"={{ $json.shouldEscalate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"400c3ef2-6f02-46fc-9d76-b6d2ca3a30ec","name":"Requiere Escalacion?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,-112]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/escalations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"demo\",\n  \"buyer_id\": \"{{ $json.buyerId }}\",\n  \"buyer_name\": \"{{ $json.buyerName }}\",\n  \"original_message\": \"{{ $json.rawMessage }}\",\n  \"reason\": \"{{ $json.escalationReason || 'Requiere atencion humana' }}\",\n  \"case_type\": \"{{ $json.queryType }}\",\n  \"priority\": 3,\n  \"product_sku\": \"{{ $json.product.sku }}\",\n  \"product_title\": \"{{ $json.product.title }}\",\n  \"product_price\": {{ $json.product.price || 0 }},\n  \"ai_suggested_response\": \"{{ $json.aiResponse }}\",\n  \"status\": \"pending\"\n}","options":{}},"id":"a5b56f45-18b6-40dd-b736-90480d085128","name":"Crear Escalacion en Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,-288]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/ai_interactions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"agent_id\": \"a0000001-0001-0001-0001-000000000002\",\n  \"input_message\": \"{{ $json.rawMessage }}\",\n  \"output_message\": \"{{ $json.aiResponse }}\",\n  \"tool_used\": \"{{ $json.toolUsed }}\",\n  \"escalated\": {{ $json.shouldEscalate }},\n  \"escalation_reason\": {{ $json.escalationReason ? '\"' + $json.escalationReason + '\"' : 'null' }},\n  \"channel\": \"demo\",\n  \"buyer_id\": \"{{ $json.buyerId }}\"\n}","options":{}},"id":"9c35d3a4-c318-4f18-9eef-1a6adf64cef9","name":"Guardar Interaccion IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,48]},{"parameters":{"jsCode":"// Preparar respuesta final\nconst data = $input.first().json;\n\nreturn {\n  json: {\n    output: data.aiResponse,\n    toolUsed: data.toolUsed,\n    escalated: data.shouldEscalate,\n    queryType: data.queryType,\n    metadata: {\n      orderId: data.orderId,\n      buyerName: data.buyerName,\n      product: data.product.title\n    }\n  }\n};"},"id":"886d9655-cb4a-4392-9315-9afbb5054521","name":"Preparar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,-112]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"a0be4858-7a19-4f06-8b3e-17d776b8be1c","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1856,-112]}],"connections":{"Schedule Trigger1":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"MLC","type":"main","index":0}]]},"Webhook Postventa":{"main":[[{"node":"Parsear Mensaje","type":"main","index":0}]]},"Parsear Mensaje":{"main":[[{"node":"Tipo de Consulta","type":"main","index":0}]]},"Tipo de Consulta":{"main":[[{"node":"Respuesta Tracking","type":"main","index":0}]]},"Respuesta Tracking":{"main":[[{"node":"Unir Respuestas","type":"main","index":0}]]},"Respuesta Facturacion":{"main":[[{"node":"Unir Respuestas","type":"main","index":1}]]},"Unir Respuestas":{"main":[[{"node":"Requiere Escalacion?","type":"main","index":0}]]},"Requiere Escalacion?":{"main":[[{"node":"Crear Escalacion en Supabase","type":"main","index":0}],[{"node":"Guardar Interaccion IA","type":"main","index":0}]]},"Crear Escalacion en Supabase":{"main":[[{"node":"Guardar Interaccion IA","type":"main","index":0}]]},"Guardar Interaccion IA":{"main":[[{"node":"Preparar Respuesta","type":"main","index":0}]]},"Preparar Respuesta":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ab181fdf-3304-4c16-81bc-f20b02a46f16","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-12-18T02:10:58.159Z","createdAt":"2025-12-18T02:10:58.159Z","role":"workflow:owner","workflowId":"TYaLCGk2G8VZ1uyW","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-18T02:10:38.651Z","createdAt":"2025-12-18T02:10:38.651Z","id":"nvrHgjnys3bUarTs","name":"MarIA Demo"}],"activeVersion":null}