n8n/18-12-25 workflow/ml_optimizar.json
{"updatedAt":"2025-12-18T01:59:10.008Z","createdAt":"2025-12-15T20:38:27.555Z","id":"lSF0H0313gkwTjT9","name":"ML Optimizar","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.mercadolibre.com/user-products/{{ $json.user_product_id }}/stock","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":12,"batchInterval":5000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[272,0],"id":"bfe507e8-e6ca-4a64-8cfb-f4169f3e8f2a","name":"Stock_Productos","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"fcdf79e8-a2d2-4f52-8c3a-47ab2e3aa8f4","name":"Stock_FULL","value":"={{ $json.locations[1].quantity }}","type":"number"},{"id":"acb09043-8da0-4a9e-9bc7-7d05c6c577c9","name":"Stock_FLEX","value":"={{ $json.locations[0].quantity }}","type":"number"},{"id":"c88dbd99-a002-482a-abf1-ea2006d12aa7","name":"user_product_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,0],"id":"9dab7af3-8a49-4617-b3a1-d20438aee7b7","name":"Información Sheet Inventario","executeOnce":false},{"parameters":{"compare":"selectedFields","fieldsToCompare":"results","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[16,-256],"id":"9d846bea-b772-4551-a289-7d9be660e2fb","name":"Limpieza Ventas 1","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[192,-256],"id":"06f1ed98-0f9f-4a4b-86a7-df689f5d59c3","name":"Aplanar Ventas1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-912,-80],"id":"57781f36-ec5c-4c55-85c0-be64310531f3","name":"Schedule Trigger1"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"TG-69322bd1aad70a0001bbe607-2303729344"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-688,-80],"id":"6ec0b7d8-4056-4b6a-9b7a-aaf587b17506","name":"Refresh_ML_Token"},{"parameters":{"url":"https://api.mercadolibre.com/orders/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"seller","value":"={{ $('MLC').item.json.seller_id }}"},{"name":"sort","value":"date_desc"},{"name":"limit","value":"1"},{"name":"q","value":"={{ $json.results }}"},{"name":"order.status","value":"paid"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-128,240],"id":"68340238-7750-4e49-b653-506de3e592fb","name":"ultima_venta","executeOnce":false,"retryOnFail":true},{"parameters":{"fieldToSplitOut":"shipping_items","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[544,-256],"id":"b28987d6-1d65-4f39-9f6d-eb7380e421b9","name":"Aplanar Productos"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"date_created\": \"{{ $json.date_created }}\",\n\n  \"order_id\": \"{{$json.order_id}}\",\n\n  \"MLC\": \"{{ $json.shipping_items.id }}\",\n\n  \"V30FULL\": {{\n    $json.logistic_type === 'fulfillment'\n      ? Number($json.shipping_items?.quantity || 0)\n      : 0\n  }},\n\n  \"V30CENTRO\": {{\n    $json.logistic_type === 'xd_drop_off'\n      ? Number($json.shipping_items?.quantity || 0)\n      : 0\n  }},\n\n  \"V30FLEX\": {{\n    $json.logistic_type === 'self_service'\n      ? Number($json.shipping_items?.quantity || 0)\n      : 0\n  }},\n\n  \"V30D\": {{\n    (\n      ($json.logistic_type === 'fulfillment'\n        ? Number($json.shipping_items?.quantity || 0)\n        : 0) +\n      ($json.logistic_type === 'xd_drop_off'\n        ? Number($json.shipping_items?.quantity || 0)\n        : 0) +\n      ($json.logistic_type === 'self_service'\n        ? Number($json.shipping_items?.quantity || 0)\n        : 0)\n    )\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,-256],"id":"3552dfea-265f-4fa1-a9d7-4c066fa5b32b","name":"Edit Fields9"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"fulfillment"},{"aggregation":"sum","field":"xd_drop_off"},{"aggregation":"sum","field":"self_service"}]},"fieldsToSplitBy":"MLC","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[896,-256],"id":"d0cf2f1d-e5b8-40ac-a364-0eb4f8d83d80","name":"Desglose Ventas 30d"},{"parameters":{"url":"=https://api.mercadolibre.com/shipments/{{ $json.shipping.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 60 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,-256],"id":"598742fd-1ba7-49e5-b915-c43d360535c7","name":"Shipping 31","executeOnce":false},{"parameters":{"url":"=https://api.mercadolibre.com/orders/search?seller={{ $('MLC').item.json.seller_id }}&q={{ $json.results }}&order.status=paid","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 360 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":150}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-144,-256],"id":"15fb2147-6261-47ac-a0f4-b89b9d7eb580","name":"Ventas 360d","executeOnce":false},{"parameters":{"url":"=https://api.mercadolibre.com/users/{{ $json.user_id }}/items/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"offset","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-512,-80],"id":"a1f80fc4-8887-4b0d-8875-9ed951f13081","name":"MLC","executeOnce":false},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-336,-80],"id":"961758fb-3afe-4250-ab60-d2d59f37e2d6","name":"Aplanar MLCs","executeOnce":true},{"parameters":{"url":"=https://api.mercadolibre.com/items/{{ $json.results }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":12,"batchInterval":500}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-128,0],"id":"f3a81b74-0e66-43b2-885b-b6d56afa2716","name":"Detalle MLC","executeOnce":false},{"parameters":{"fieldToSplitOut":"attributes","include":"selectedOtherFields","fieldsToInclude":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[64,0],"id":"1c76d422-46f2-4688-a12c-61f76e6ca2ed","name":"Split Out1"},{"parameters":{"content":"Escritura Ventas 30 dias","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-384],"id":"d0610c9a-c76d-424e-a788-f5bed1247017","name":"Sticky Note"},{"parameters":{"content":"Stock desglosado","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,144],"id":"1cbdfe2f-5ae9-45bd-b15b-1ca1c8c34845","name":"Sticky Note1"},{"parameters":{"content":"Ultima Venta","height":80,"width":208},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[112,624],"id":"ea5222d8-25eb-4bf6-a8bd-9926b8e069f4","name":"Sticky Note2"},{"parameters":{"url":"=https://api.mercadolibre.com/shipments/{{ $json.results[0].shipping.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[96,240],"id":"ac35bc22-6550-4e30-ad80-f0292fd3c0d0","name":"Ultimo Shipping","executeOnce":false},{"parameters":{"jsCode":"// Procesar shipments con costo de envío unitario\nconst results = [];\n\nfor (const item of $input.all()) {\n  const shipment = item.json;\n  \n  // Extraer información del producto\n  const shippingItems = shipment.shipping_items?.[0];\n  const mlcId = shippingItems?.id || null;\n  const quantity = shippingItems?.quantity || 1;\n  \n  // Extraer información de costos de envío\n  const shippingOption = shipment.shipping_option || {};\n  const costoPagadoCliente = shippingOption.cost || 0;\n  const listCost = shippingOption.list_cost || 0;\n  \n  // Determinar si TÚ pagas el envío\n  const costoEnvioVendedorTotal = costoPagadoCliente === 0 ? listCost : 0;\n  \n  // DIVIDIR por cantidad para obtener costo unitario\n  const costoEnvioVendedorUnitario = quantity > 0 ? costoEnvioVendedorTotal / quantity : 0;\n  \n  results.push({\n    json: {\n      mlc_id: mlcId,\n      order_id: shipment.order_id || null,\n      shipment_id: shipment.id || null,\n      quantity: quantity,\n      costo_envio_vendedor_total: costoEnvioVendedorTotal,\n      costo_envio_vendedor_unitario: Math.round(costoEnvioVendedorUnitario * 100) / 100,\n      costo_envio_cliente: costoPagadoCliente,\n      base_cost: shipment.base_cost || 0,\n      status: shipment.status || null,\n      envio_gratis_para_cliente: costoPagadoCliente === 0\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,240],"id":"1406af40-6e88-40bb-9d26-f65996c06c3a","name":"Costo_Envio"},{"parameters":{"assignments":{"assignments":[{"id":"75e4968a-96dc-4d65-aac2-d668363b60df","name":"Fecha","value":"={{ $json.results[0].last_updated }}","type":"string"},{"id":"e5911906-484b-4a23-832f-bcb57337879e","name":"MLC","value":"={{ $json.results[0].order_items[0].item.id }}","type":"string"},{"id":"f2048544-f7ac-4113-b3fa-9e7914ff923e","name":"Comision","value":"={{ $json.results[0].order_items[0].sale_fee }}","type":"string"},{"id":"6ee8469d-1e2a-453c-af11-a3defb5d0590","name":"Pventa","value":"={{ $json.results[0].order_items[0].unit_price }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,416],"id":"685bb828-2adb-4d78-8189-f61386dd4bb3","name":"Ultima Comision","executeOnce":false}],"connections":{"Stock_Productos":{"main":[[{"node":"Información Sheet Inventario","type":"main","index":0}]]},"Información Sheet Inventario":{"main":[[]]},"Limpieza Ventas 1":{"main":[[{"node":"Aplanar Ventas1","type":"main","index":0}]]},"Aplanar Ventas1":{"main":[[{"node":"Shipping 31","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"MLC","type":"main","index":0}]]},"ultima_venta":{"main":[[{"node":"Ultimo Shipping","type":"main","index":0},{"node":"Ultima Comision","type":"main","index":0}]]},"Aplanar Productos":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Desglose Ventas 30d","type":"main","index":0}]]},"Shipping 31":{"main":[[{"node":"Aplanar Productos","type":"main","index":0}]]},"Ventas 360d":{"main":[[{"node":"Limpieza Ventas 1","type":"main","index":0}]]},"MLC":{"main":[[{"node":"Aplanar MLCs","type":"main","index":0}]]},"Aplanar MLCs":{"main":[[{"node":"ultima_venta","type":"main","index":0},{"node":"Detalle MLC","type":"main","index":0},{"node":"Ventas 360d","type":"main","index":0}]]},"Detalle MLC":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Desglose Ventas 30d":{"main":[[]]},"Split Out1":{"main":[[]]},"Ultimo Shipping":{"main":[[{"node":"Costo_Envio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"962a2e06-cea8-4a3c-9227-fd4603865a97","activeVersionId":null,"versionCounter":92,"triggerCount":1,"shared":[{"updatedAt":"2025-12-15T20:38:27.561Z","createdAt":"2025-12-15T20:38:27.561Z","role":"workflow:owner","workflowId":"lSF0H0313gkwTjT9","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}