n8n/18-12-25 workflow/ml_sales.json
{"updatedAt":"2025-12-10T23:15:54.776Z","createdAt":"2025-12-10T23:07:14.332Z","id":"T30rbREQu62MsJm1","name":"ML SALES","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-688,-752],"id":"f70362f9-1046-48e7-bfc8-b4b0a8e7a3a8","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"TG-69322bd1aad70a0001bbe607-2303729344"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-464,-752],"id":"986a71ec-5e3c-4248-8815-d654ae1f7568","name":"Refresh_ML_Token"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-16,-752],"id":"2d99a8c3-7883-43b3-9d58-f9d350058dbb","name":"Aplanar_Paginas","executeOnce":false},{"parameters":{"compare":"selectedFields","fieldsToCompare":"results","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[432,-752],"id":"1dfa2125-d18d-4e54-87fc-81ae91a9d288","name":"Limpieza Ventas 2","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mercadolibre.com/orders/search?seller={{ $('Get_ML_Products').item.json.seller_id }}&q={{ $json.results }}&order.status=paid","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-752],"id":"9775a1ba-3223-47e3-8b69-9fe4beca97e6","name":"Ventas30","executeOnce":false},{"parameters":{"url":"=https://api.mercadolibre.com/shipments/{{ $json.shipping.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1104,-848],"id":"89f76814-0fe4-47c4-a05e-af111ce850b6","name":"Shipping 30","executeOnce":false},{"parameters":{"mode":"combineBySql","query":"SELECT *\nFROM input1 t1\nJOIN input2 t2\n    ON t1.order_id = t2.order_id\n   AND t1.MLC = t2.MLC;\n","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1776,-752],"id":"9083c7c5-b1d3-4932-9088-e742482fe5ae","name":"Merge2","executeOnce":false},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"Inventario_ML","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1150527612,"mode":"list","cachedResultName":"Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=1150527612"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["SKU"],"schema":[{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Codigo_ML","displayName":"Codigo_ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FULL","displayName":"Stock_FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FLEX","displayName":"Stock_FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_Total","displayName":"Stock_Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Supermarket","displayName":"Supermarket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valorización","displayName":"Valorización","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_60","displayName":"Ventas_60","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_30","displayName":"Ventas_30","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FULL","displayName":"V30FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FLEX","displayName":"V30FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30CENTRO","displayName":"V30CENTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reponer","displayName":"Reponer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Permalink","displayName":"Permalink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fulfillment","displayName":"fulfillment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"xd_drop_off","displayName":"xd_drop_off","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"self_service","displayName":"self_service","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2672,-752],"id":"48db288e-a68f-48f5-9620-b4ea0b9821eb","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"SKU\": \"{{$json.SKU}}\",\n\n  \"order_id\": \"{{$json.order_id}}\",\n\n  \"fulfillment\": {{$json.logistic_type === 'fulfillment' ? $json.quantity : 0}},\n  \"xd_drop_off\": {{$json.logistic_type === 'xd_drop_off' ? $json.quantity : 0}},\n  \"self_service\": {{$json.logistic_type === 'self_service' ? $json.quantity : 0}}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2000,-752],"id":"58660a89-a152-461c-858e-0c4133d30f07","name":"Edit Fields3"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[656,-848],"id":"3bd54ff1-7f2a-4836-8e01-302d4c049158","name":"Aplanar Ventas4"},{"parameters":{"assignments":{"assignments":[{"id":"6db183c3-ed1c-4d6b-8472-b65a40a680fe","name":"logistic_type","value":"={{ $json.logistic_type }}","type":"string"},{"id":"ff2d60e4-b168-46fb-b0c1-f190221facf0","name":"order_id","value":"={{ $json.order_id }}","type":"number"},{"id":"021cdebe-79b2-4364-978c-b2193cb93fd6","name":"quantity","value":"={{ $json.shipping_items.quantity }}","type":"number"},{"id":"1bcbdae2-8d9e-4789-b0a3-4ecadce95af0","name":"MLC","value":"={{ $json.shipping_items.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-848],"id":"9e3f7cfc-8ae5-4593-8747-741254c6bc17","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"43e8fa72-af17-4cbf-8450-8de47b4fff3d","name":"order_id","value":"={{ $json.results.payments[0].order_id }}","type":"number"},{"id":"6a957d36-a133-424d-bae0-929fc24b13f9","name":"SKU","value":"={{ $json.results.order_items[0].item.seller_sku }}","type":"string"},{"id":"72357be1-94a9-44a5-ac5a-ce7adaa681ed","name":"MLC","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-656],"id":"ee3c4b0b-a9ae-464c-a625-9924f0b55fb9","name":"Edit Fields5"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"fulfillment"},{"aggregation":"sum","field":"xd_drop_off"},{"aggregation":"sum","field":"self_service"}]},"fieldsToSplitBy":"SKU","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2224,-752],"id":"877af3fe-072a-4237-b47f-5c4eb3542f42","name":"Summarize1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"payments","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[880,-848],"id":"72c9a0dd-37c8-42ee-b006-be02d024d775","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"results","include":"selectedOtherFields","fieldsToInclude":"query","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1328,-656],"id":"cbfd6964-715e-4a5d-8059-00c3a3379f40","name":"Aplanar Ventas"},{"parameters":{"fieldToSplitOut":"shipping_items","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1328,-848],"id":"fc097ebd-e042-46de-bc0e-872b5d177b23","name":"Split Out"},{"parameters":{"url":"=https://api.mercadolibre.com/users/{{ $json.user_id }}/items/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"offset","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-240,-752],"id":"0154b6c1-e930-44db-8e4b-4e5661c7fcaa","name":"Get_ML_Products","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"e2bcf719-4dd7-4992-95f4-4eca5b1b380a","name":"SKU","value":"={{ $json.SKU }}","type":"string"},{"id":"16610eba-bc95-4058-a25a-071e7a0c86c1","name":"V30FULL","value":"={{ $json.sum_fulfillment }}","type":"number"},{"id":"457475d1-bf04-48ad-8a9d-47e0c31038f6","name":"V30CENTRO","value":"={{ $json.sum_xd_drop_off }}","type":"number"},{"id":"a36ea8bd-198a-4eec-bdad-e5125e039b1c","name":"V30FLEX","value":"={{ $json.sum_self_service }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,-752],"id":"80aab973-306b-4880-a04f-98f64517d20d","name":"Edit Fields2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"Get_ML_Products","type":"main","index":0}]]},"Aplanar_Paginas":{"main":[[{"node":"Ventas30","type":"main","index":0}]]},"Limpieza Ventas 2":{"main":[[{"node":"Aplanar Ventas","type":"main","index":0},{"node":"Aplanar Ventas4","type":"main","index":0}]]},"Ventas30":{"main":[[{"node":"Limpieza Ventas 2","type":"main","index":0}]]},"Shipping 30":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Aplanar Ventas4":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Summarize1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Shipping 30","type":"main","index":0}]]},"Aplanar Ventas":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Get_ML_Products":{"main":[[{"node":"Aplanar_Paginas","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e74a668-6538-46e6-9527-86d30b86963f","activeVersionId":null,"versionCounter":81,"triggerCount":1,"shared":[{"updatedAt":"2025-12-10T23:07:14.338Z","createdAt":"2025-12-10T23:07:14.338Z","role":"workflow:owner","workflowId":"T30rbREQu62MsJm1","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}