n8n/18-12-25 workflow/ml_stock.json
{"updatedAt":"2025-12-11T00:46:44.504Z","createdAt":"2025-12-05T00:31:15.911Z","id":"dv3zSDs89BNwl4o6","name":"ML STOCK","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-688,-400],"id":"f015545d-e8ba-4145-9740-5b2ea6e32dff","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"TG-69322bd1aad70a0001bbe607-2303729344"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-464,-400],"id":"bd677512-80c2-41bd-9c59-5385690c65bd","name":"Refresh_ML_Token"},{"parameters":{"url":"=https://api.mercadolibre.com/user-products/{{ $json.user_product_id }}/stock","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":12,"batchInterval":5000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1328,-88],"id":"428f4966-1d60-4d9a-bcf7-cc96023eb3e3","name":"Stock_Productos","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"Inventario_ML","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1150527612,"mode":"list","cachedResultName":"Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=1150527612"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Codigo_ML"],"schema":[{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Codigo_ML","displayName":"Codigo_ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FULL","displayName":"Stock_FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FLEX","displayName":"Stock_FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_Total","displayName":"Stock_Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Supermarket","displayName":"Supermarket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valorización","displayName":"Valorización","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_60","displayName":"Ventas_60","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_30","displayName":"Ventas_30","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FULL","displayName":"V30FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FLEX","displayName":"V30FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30CENTRO","displayName":"V30CENTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepFULL","displayName":"RepFULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepFLEX","displayName":"RepFLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepTotal","displayName":"RepTotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Permalink","displayName":"Permalink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2448,-352],"id":"8eb78b2f-bc4f-4fe1-9011-41a23247368f","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-16,-400],"id":"8a7184cd-2fe2-4423-9138-a48df2f3171a","name":"Aplanar_Paginas","executeOnce":false},{"parameters":{"url":"=https://api.mercadolibre.com/items/{{ $json.results }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":12,"batchInterval":500}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[656,-160],"id":"1b22319c-1a0e-4b7a-9ede-025d688d42ed","name":"Get_Item_Details","executeOnce":false},{"parameters":{"compare":"selectedFields","fieldsToCompare":"SKU","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1104,-160],"id":"24c029b7-e3e1-46d1-b5ee-7d240a318044","name":"Remueve SKU Duplicados"},{"parameters":{"assignments":{"assignments":[{"id":"55e84cef-23ea-4a30-89bb-0d3b0f56f090","name":"Titulo","value":"={{ $json.title }}","type":"string"},{"id":"a66889f6-e470-41cf-8a4d-bedb4e1d3e91","name":"Status","value":"={{ $json.status }}","type":"string"},{"id":"87101191-f0f8-480c-b879-3a1e98915cb9","name":"Codigo_ML","value":"={{ $json.id }}","type":"string"},{"id":"df17ad01-45f7-4000-aea4-c8295a81af87","name":"Permalink","value":"={{ $json.permalink }}","type":"string"},{"id":"cb238034-f73e-4fe4-9f88-6cb9d464d02e","name":"user_product_id","value":"={{ $json.user_product_id }}","type":"string"},{"id":"93c4a539-8317-41ad-bfe0-68025972228a","name":"SKU","value":"={{ \n  ($json.attributes || []).find(attr => attr.id === 'SELLER_SKU')?.value_name || null\n}}","type":"string"},{"id":"3c328d94-b4ed-4781-ba15-7f8124579846","name":"Supermarket","value":"={{ \n  Array.isArray($json.tags) && $json.tags.includes('supermarket_eligible') \n    ? 'Sí' \n    : 'No' \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-160],"id":"38062ded-0968-43f2-9c64-e80012bff6c3","name":"Información de Sheet (No Inventario)","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"fcdf79e8-a2d2-4f52-8c3a-47ab2e3aa8f4","name":"Stock_FULL","value":"={{ $json.locations[1].quantity }}","type":"number"},{"id":"acb09043-8da0-4a9e-9bc7-7d05c6c577c9","name":"Stock_FLEX","value":"={{ $json.locations[0].quantity }}","type":"number"},{"id":"c88dbd99-a002-482a-abf1-ea2006d12aa7","name":"user_product_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,-88],"id":"4717c1c1-6251-438e-be02-5d8b621c14cb","name":"Información Sheet Inventario","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"a4d9f379-32f7-4158-a90f-cf1230a03e81","name":"Titulo","value":"={{ $json.Titulo }}","type":"string"},{"id":"a88ac5eb-143d-47ca-9257-e3636821f22b","name":"Status","value":"={{ $json.Status }}","type":"string"},{"id":"f05b30ea-5e94-402d-b7e3-933f0c272be3","name":"Codigo_ML","value":"={{ $json.Codigo_ML }}","type":"string"},{"id":"40212e61-b5cc-469a-98d8-04c09ed8dfac","name":"Permalink","value":"={{ $json.Permalink }}","type":"string"},{"id":"67050d69-462e-403e-8257-7c4dd18e2c0e","name":"Stock_FULL","value":"={{ $json.Stock_FULL }}","type":"number"},{"id":"4478f9ed-bddc-4db2-b609-5658923d6aaf","name":"Stock_FLEX","value":"={{ $json.Stock_FLEX }}","type":"number"},{"id":"0431f4d7-e83b-43df-8dca-245b050e2196","name":"SKU","value":"={{ $json.SKU }}","type":"string"},{"id":"5f78d356-8834-4469-b9c1-6155b55e7f3f","name":"Ventas_60","value":"={{ $json.Ventas_60 }}","type":"number"},{"id":"a7127d17-a056-45e3-83d7-f29f3267517c","name":"Ventas_30","value":"={{ $json.Ventas_30 }}","type":"number"},{"id":"78047e80-1345-48c4-9eab-ca4a0f140c2d","name":"Supermarket","value":"={{ $json.Supermarket }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2224,-352],"id":"b325877c-c7d9-4630-ae73-92cc1a2a7ef1","name":"Formateo Sheet"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"Cantidad"}]},"fieldsToSplitBy":"SKU","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1104,-400],"id":"e7f2855b-5e18-4eeb-8868-4ff7b85f3e73","name":"Summarize"},{"parameters":{"assignments":{"assignments":[{"id":"55e84cef-23ea-4a30-89bb-0d3b0f56f090","name":"Titulo","value":"={{ $json.payments[0].reason }}","type":"string"},{"id":"87101191-f0f8-480c-b879-3a1e98915cb9","name":"SKU","value":"={{ $json.order_items[0].item.seller_sku }}","type":"string"},{"id":"3c328d94-b4ed-4781-ba15-7f8124579846","name":"Cantidad","value":"={{ $json.order_items[0].quantity }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-400],"id":"128807c4-85de-4cda-8d4d-0dc47d03327d","name":"Información de Sheet (No Inventario)1","executeOnce":false},{"parameters":{"mode":"combine","fieldsToMatchString":"SKU","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2000,-352],"id":"4fd3f78e-e7bf-4107-a079-d27473d14091","name":"Union Array"},{"parameters":{"mode":"combine","fieldsToMatchString":"user_product_id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1776,-160],"id":"cc3bc4dd-af79-470e-8e7d-82db74a26698","name":"SKU y Stock"},{"parameters":{"assignments":{"assignments":[{"id":"f0324fad-ba57-488b-82a9-0fe8618cc950","name":"SKU","value":"={{ $json.SKU }}","type":"string"},{"id":"906100d6-3542-4266-bd2b-ada805b7b4f6","name":"Ventas_60","value":"={{ $json.Ventas_60 }}","type":"number"},{"id":"eb17c517-0aa9-4f08-85a3-08d4fdf74804","name":"Ventas_30","value":"={{ $json.Ventas_30 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1776,-496],"id":"8097566d-f001-4d8f-86fc-ef2042469733","name":"SKU y Ventas 30 & 60"},{"parameters":{"url":"=https://api.mercadolibre.com/orders/search?seller={{ $('Get_ML_Products').item.json.seller_id }}&q={{ $json.results }}&order.status=paid","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 60 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-400],"id":"7f726f9a-76a8-4055-833a-cd7dd8a86e86","name":"Ventas60","executeOnce":false},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"Cantidad"}]},"fieldsToSplitBy":"SKU","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1104,-592],"id":"6f85bb05-d0fa-4567-b9cf-7876dc0ac0eb","name":"Summarize2"},{"parameters":{"assignments":{"assignments":[{"id":"55e84cef-23ea-4a30-89bb-0d3b0f56f090","name":"Titulo","value":"={{ $json.payments[0].reason }}","type":"string"},{"id":"87101191-f0f8-480c-b879-3a1e98915cb9","name":"SKU","value":"={{ $json.order_items[0].item.seller_sku }}","type":"string"},{"id":"3c328d94-b4ed-4781-ba15-7f8124579846","name":"Cantidad","value":"={{ $json.order_items[0].quantity }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,-592],"id":"ae66ebb3-1408-4b8c-bcc7-2670b7d4b846","name":"Información de Sheet (No Inventario)2","executeOnce":false},{"parameters":{"compare":"selectedFields","fieldsToCompare":"results","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[432,-400],"id":"a2305e34-5f84-4fdf-804d-c2b37ce70808","name":"Limpieza Ventas 1","onError":"continueErrorOutput"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"results","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[432,-592],"id":"7d23bdd4-9b63-4c77-b7dc-225a7c747318","name":"Limpieza Ventas 2","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.mercadolibre.com/orders/search?seller={{ $('Get_ML_Products').item.json.seller_id }}&q={{ $json.results }}&order.status=paid","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-592],"id":"9b73f60c-19c0-4013-9f51-6dc340bff912","name":"Ventas30","executeOnce":false},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[656,-400],"id":"7562d709-6d0e-4a1b-a90c-502b1572a300","name":"Aplanar Ventas1"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[656,-592],"id":"dee23ead-b0be-4b0b-81ec-d27ef4458852","name":"Aplanar Ventas2"},{"parameters":{"mode":"combine","fieldsToMatchString":"SKU","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1552,-496],"id":"2236bc3f-1121-413e-a330-e7658ff60256","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"393e5c30-a677-427c-9f5e-a1ccc1f79985","name":"Ventas_30","value":"={{ $json.sum_Cantidad }}","type":"number"},{"id":"980da557-7b0b-4960-b691-cfaf1a03529d","name":"SKU","value":"={{ $json.SKU }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,-592],"id":"2a196b4e-3b6f-4247-ab30-d73f8ce5f5c7","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7dc44d1b-8497-4bd4-add7-08c5e08b7fc9","name":"Ventas_60","value":"={{ $json.sum_Cantidad }}","type":"number"},{"id":"13e2fceb-294d-4228-8d15-b061a61f7116","name":"SKU","value":"={{ $json.SKU }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,-400],"id":"abe8983e-ef08-4145-9fe4-07ed50ae6782","name":"Edit Fields1"},{"parameters":{"url":"=https://api.mercadolibre.com/users/{{ $json.user_id }}/items/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"offset","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-240,-400],"id":"9a270f00-c72e-4363-836c-2efa6541bd25","name":"Get_ML_Products","executeOnce":false}],"connections":{"Schedule Trigger":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"Get_ML_Products","type":"main","index":0}]]},"Stock_Productos":{"main":[[{"node":"Información Sheet Inventario","type":"main","index":0}]]},"Aplanar_Paginas":{"main":[[{"node":"Ventas30","type":"main","index":0},{"node":"Get_Item_Details","type":"main","index":0},{"node":"Ventas60","type":"main","index":0}]]},"Get_Item_Details":{"main":[[{"node":"Información de Sheet (No Inventario)","type":"main","index":0}]]},"Remueve SKU Duplicados":{"main":[[{"node":"Stock_Productos","type":"main","index":0},{"node":"SKU y Stock","type":"main","index":0}]]},"Información de Sheet (No Inventario)":{"main":[[{"node":"Remueve SKU Duplicados","type":"main","index":0}]]},"Información Sheet Inventario":{"main":[[{"node":"SKU y Stock","type":"main","index":1}]]},"Formateo Sheet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Información de Sheet (No Inventario)1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Union Array":{"main":[[{"node":"Formateo Sheet","type":"main","index":0}]]},"SKU y Stock":{"main":[[{"node":"Union Array","type":"main","index":1}]]},"SKU y Ventas 30 & 60":{"main":[[{"node":"Union Array","type":"main","index":0}]]},"Ventas60":{"main":[[{"node":"Limpieza Ventas 1","type":"main","index":0}]]},"Información de Sheet (No Inventario)2":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Limpieza Ventas 1":{"main":[[{"node":"Aplanar Ventas1","type":"main","index":0}]]},"Limpieza Ventas 2":{"main":[[{"node":"Aplanar Ventas2","type":"main","index":0}]]},"Ventas30":{"main":[[{"node":"Limpieza Ventas 2","type":"main","index":0}]]},"Aplanar Ventas1":{"main":[[{"node":"Información de Sheet (No Inventario)1","type":"main","index":0}]]},"Aplanar Ventas2":{"main":[[{"node":"Información de Sheet (No Inventario)2","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"SKU y Ventas 30 & 60","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get_ML_Products":{"main":[[{"node":"Aplanar_Paginas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12c75dca-f213-48af-8bc4-bda83669e8d7","activeVersionId":null,"versionCounter":83,"triggerCount":1,"shared":[{"updatedAt":"2025-12-05T00:31:15.917Z","createdAt":"2025-12-05T00:31:15.917Z","role":"workflow:owner","workflowId":"dv3zSDs89BNwl4o6","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}