n8n/18-12-25 workflow/ml_total.json
{"updatedAt":"2025-12-15T23:21:22.251Z","createdAt":"2025-12-11T00:46:59.312Z","id":"Gy8PpqK2BrGV84xy","name":"ML Total","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.mercadolibre.com/orders/search?seller={{ $('Get_ML_Products').item.json.seller_id }}&q={{ $json.results }}&order.status=paid","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,-656],"id":"630517d9-45fb-4f8a-a81a-7bc9598750da","name":"Ventas30","executeOnce":false},{"parameters":{"url":"=https://api.mercadolibre.com/shipments/{{ $json.shipping.id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 30 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1200,-656],"id":"7307df9c-feab-4cf0-8022-f57fc4bbf76a","name":"Shipping 30","executeOnce":false},{"parameters":{"mode":"combineBySql","query":"SELECT *\nFROM input1 t1\nJOIN input2 t2\n    ON t1.order_id = t2.order_id\n   AND t1.MLC = t2.MLC;\n","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1872,-752],"id":"6e4a309a-9bef-4c18-a78d-e91db6780b47","name":"Merge2","executeOnce":false},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"Inventario_ML","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1150527612,"mode":"list","cachedResultName":"Global","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=1150527612"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["SKU"],"schema":[{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Codigo_ML","displayName":"Codigo_ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FULL","displayName":"Stock_FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FLEX","displayName":"Stock_FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_Total","displayName":"Stock_Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Supermarket","displayName":"Supermarket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valorización","displayName":"Valorización","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_60","displayName":"Ventas_60","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_30","displayName":"Ventas_30","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FULL","displayName":"V30FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FLEX","displayName":"V30FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30CENTRO","displayName":"V30CENTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepFULL","displayName":"RepFULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepFLEX","displayName":"RepFLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepTotal","displayName":"RepTotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Permalink","displayName":"Permalink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2768,-752],"id":"9aa3ecbe-1327-4403-9cb3-e76be52de376","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"SKU\": \"{{$json.SKU}}\",\n\n  \"order_id\": \"{{$json.order_id}}\",\n\n  \"fulfillment\": {{$json.logistic_type === 'fulfillment' ? $json.quantity : 0}},\n  \"xd_drop_off\": {{$json.logistic_type === 'xd_drop_off' ? $json.quantity : 0}},\n  \"self_service\": {{$json.logistic_type === 'self_service' ? $json.quantity : 0}}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2096,-752],"id":"ad9107c0-4efb-42db-83e1-7b0336b5644e","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"6db183c3-ed1c-4d6b-8472-b65a40a680fe","name":"logistic_type","value":"={{ $json.logistic_type }}","type":"string"},{"id":"ff2d60e4-b168-46fb-b0c1-f190221facf0","name":"order_id","value":"={{ $json.order_id }}","type":"number"},{"id":"021cdebe-79b2-4364-978c-b2193cb93fd6","name":"quantity","value":"={{ $json.shipping_items.quantity }}","type":"number"},{"id":"1bcbdae2-8d9e-4789-b0a3-4ecadce95af0","name":"MLC","value":"={{ $json.shipping_items.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-656],"id":"08fb51e4-b401-47f2-884a-e2a05c79996d","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"43e8fa72-af17-4cbf-8450-8de47b4fff3d","name":"order_id","value":"={{ $json.results.payments[0].order_id }}","type":"number"},{"id":"6a957d36-a133-424d-bae0-929fc24b13f9","name":"SKU","value":"={{ $json.results.order_items[0].item.seller_sku }}","type":"string"},{"id":"72357be1-94a9-44a5-ac5a-ce7adaa681ed","name":"MLC","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-848],"id":"0adb2a1b-db5d-4574-abd0-c225f7165f79","name":"Edit Fields5"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"fulfillment"},{"aggregation":"sum","field":"xd_drop_off"},{"aggregation":"sum","field":"self_service"}]},"fieldsToSplitBy":"SKU","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[2320,-752],"id":"4d1cfdd5-81c3-4321-b86a-479a8faa3c13","name":"Summarize1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"payments","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[976,-656],"id":"81542f11-0e71-4f65-a15a-d547ed7876bc","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"results","include":"selectedOtherFields","fieldsToInclude":"query","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1424,-848],"id":"bb6105be-1300-4e14-a505-3972f91beef9","name":"Aplanar Ventas"},{"parameters":{"fieldToSplitOut":"shipping_items","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1424,-656],"id":"4ba9c5fa-8038-4227-b340-2aec999894e4","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"e2bcf719-4dd7-4992-95f4-4eca5b1b380a","name":"SKU","value":"={{ $json.SKU }}","type":"string"},{"id":"16610eba-bc95-4058-a25a-071e7a0c86c1","name":"V30FULL","value":"={{ $json.sum_fulfillment }}","type":"number"},{"id":"457475d1-bf04-48ad-8a9d-47e0c31038f6","name":"V30CENTRO","value":"={{ $json.sum_xd_drop_off }}","type":"number"},{"id":"a36ea8bd-198a-4eec-bdad-e5125e039b1c","name":"V30FLEX","value":"={{ $json.sum_self_service }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,-752],"id":"3fa3caeb-2fd2-427a-aaf8-ff6ba06ae6e9","name":"Edit Fields2"},{"parameters":{"url":"=https://api.mercadolibre.com/user-products/{{ $json.user_product_id }}/stock","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":12,"batchInterval":5000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[976,32],"id":"e919d5c4-9e07-4a12-b5ec-82c138120e49","name":"Stock_Productos","executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"Inventario_ML","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1150527612,"mode":"list","cachedResultName":"Global","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=1150527612"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Codigo_ML"],"schema":[{"id":"Proveedor","displayName":"Proveedor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Codigo_ML","displayName":"Codigo_ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FULL","displayName":"Stock_FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_FLEX","displayName":"Stock_FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock_Total","displayName":"Stock_Total","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Supermarket","displayName":"Supermarket","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valorización","displayName":"Valorización","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_60","displayName":"Ventas_60","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ventas_30","displayName":"Ventas_30","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FULL","displayName":"V30FULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30FLEX","displayName":"V30FLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"V30CENTRO","displayName":"V30CENTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepFULL","displayName":"RepFULL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepFLEX","displayName":"RepFLEX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RepTotal","displayName":"RepTotal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Permalink","displayName":"Permalink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2544,-224],"id":"0e26f163-3999-4324-aaec-ae9bba140817","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"url":"=https://api.mercadolibre.com/items/{{ $json.results }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{"batchSize":12,"batchInterval":500}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,-48],"id":"90a75402-3f31-4315-bb7f-375141a2c6f2","name":"Get_Item_Details","executeOnce":false},{"parameters":{"compare":"selectedFields","fieldsToCompare":"SKU","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[752,-48],"id":"1edbad0e-bdc9-4527-b757-16e49c7246f1","name":"Remueve SKU Duplicados"},{"parameters":{"assignments":{"assignments":[{"id":"55e84cef-23ea-4a30-89bb-0d3b0f56f090","name":"Titulo","value":"={{ $json.title }}","type":"string"},{"id":"a66889f6-e470-41cf-8a4d-bedb4e1d3e91","name":"Status","value":"={{ $json.status }}","type":"string"},{"id":"87101191-f0f8-480c-b879-3a1e98915cb9","name":"Codigo_ML","value":"={{ $json.id }}","type":"string"},{"id":"df17ad01-45f7-4000-aea4-c8295a81af87","name":"Permalink","value":"={{ $json.permalink }}","type":"string"},{"id":"cb238034-f73e-4fe4-9f88-6cb9d464d02e","name":"user_product_id","value":"={{ $json.user_product_id }}","type":"string"},{"id":"93c4a539-8317-41ad-bfe0-68025972228a","name":"SKU","value":"={{ \n  ($json.attributes || []).find(attr => attr.id === 'SELLER_SKU')?.value_name || null\n}}","type":"string"},{"id":"3c328d94-b4ed-4781-ba15-7f8124579846","name":"Supermarket","value":"={{ \n  Array.isArray($json.tags) && $json.tags.includes('supermarket_eligible') \n    ? 'Sí' \n    : 'No' \n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,-48],"id":"a1530907-0c04-41bc-9588-5200e980d146","name":"Información de Sheet (No Inventario)","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"fcdf79e8-a2d2-4f52-8c3a-47ab2e3aa8f4","name":"Stock_FULL","value":"={{ $json.locations[1].quantity }}","type":"number"},{"id":"acb09043-8da0-4a9e-9bc7-7d05c6c577c9","name":"Stock_FLEX","value":"={{ $json.locations[0].quantity }}","type":"number"},{"id":"c88dbd99-a002-482a-abf1-ea2006d12aa7","name":"user_product_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,32],"id":"96f8f56d-541e-4436-a2d0-696e98f0130c","name":"Información Sheet Inventario","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"a4d9f379-32f7-4158-a90f-cf1230a03e81","name":"Titulo","value":"={{ $json.Titulo }}","type":"string"},{"id":"a88ac5eb-143d-47ca-9257-e3636821f22b","name":"Status","value":"={{ $json.Status }}","type":"string"},{"id":"f05b30ea-5e94-402d-b7e3-933f0c272be3","name":"Codigo_ML","value":"={{ $json.Codigo_ML }}","type":"string"},{"id":"40212e61-b5cc-469a-98d8-04c09ed8dfac","name":"Permalink","value":"={{ $json.Permalink }}","type":"string"},{"id":"67050d69-462e-403e-8257-7c4dd18e2c0e","name":"Stock_FULL","value":"={{ $json.Stock_FULL }}","type":"number"},{"id":"4478f9ed-bddc-4db2-b609-5658923d6aaf","name":"Stock_FLEX","value":"={{ $json.Stock_FLEX }}","type":"number"},{"id":"0431f4d7-e83b-43df-8dca-245b050e2196","name":"SKU","value":"={{ $json.SKU }}","type":"string"},{"id":"5f78d356-8834-4469-b9c1-6155b55e7f3f","name":"Ventas_60","value":"={{ $json.Ventas_60 }}","type":"number"},{"id":"a7127d17-a056-45e3-83d7-f29f3267517c","name":"Ventas_30","value":"={{ $json.Ventas_30 }}","type":"number"},{"id":"78047e80-1345-48c4-9eab-ca4a0f140c2d","name":"Supermarket","value":"={{ $json.Supermarket }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,-224],"id":"080fa94a-7a4e-468e-a0c3-994d8d960760","name":"Formateo Sheet"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"Cantidad"}]},"fieldsToSplitBy":"SKU","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1200,-272],"id":"a418cffe-70a9-4fde-b0a3-5d6703ddcf4b","name":"Summarize"},{"parameters":{"assignments":{"assignments":[{"id":"55e84cef-23ea-4a30-89bb-0d3b0f56f090","name":"Titulo","value":"={{ $json.payments[0].reason }}","type":"string"},{"id":"87101191-f0f8-480c-b879-3a1e98915cb9","name":"SKU","value":"={{ $json.order_items[0].item.seller_sku }}","type":"string"},{"id":"3c328d94-b4ed-4781-ba15-7f8124579846","name":"Cantidad","value":"={{ $json.order_items[0].quantity }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,-272],"id":"ac667c5d-d307-492d-b5ef-d2d103257e29","name":"Información de Sheet (No Inventario)1","executeOnce":false},{"parameters":{"mode":"combine","fieldsToMatchString":"SKU","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2096,-224],"id":"c43de4cc-8812-43ef-a42b-b9fc55150ddd","name":"Union Array"},{"parameters":{"mode":"combine","fieldsToMatchString":"user_product_id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1424,-32],"id":"c794ada2-d1d2-4531-85ab-909a3d2d39e2","name":"SKU y Stock"},{"parameters":{"assignments":{"assignments":[{"id":"f0324fad-ba57-488b-82a9-0fe8618cc950","name":"SKU","value":"={{ $json.SKU }}","type":"string"},{"id":"906100d6-3542-4266-bd2b-ada805b7b4f6","name":"Ventas_60","value":"={{ $json.Ventas_60 }}","type":"number"},{"id":"eb17c517-0aa9-4f08-85a3-08d4fdf74804","name":"Ventas_30","value":"={{ $json.Ventas_30 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,-368],"id":"862726bc-4488-4497-ada7-a6af68ce8e17","name":"SKU y Ventas 30 & 60"},{"parameters":{"url":"=https://api.mercadolibre.com/orders/search?seller={{ $('Get_ML_Products').item.json.seller_id }}&q={{ $json.results }}&order.status=paid","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"date_desc"},{"name":"order.date_created.from","value":"={{ new Date(Date.now() - 60 * 24 * 60 * 60 * 1000).toISOString().substring(0,10) + 'T00:00:00.000-00:00' }}"},{"name":"order.date_created.to","value":"={{ new Date().toISOString().substring(0,10) + 'T23:59:59.000-00:00' }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"batching":{"batch":{}},"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,-272],"id":"deee8b2e-f6c0-4079-bf8b-71672f9c9ec5","name":"Ventas60","executeOnce":false},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"Cantidad"}]},"fieldsToSplitBy":"SKU","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1200,-464],"id":"bfa75d97-8b36-4810-96df-17612e98f242","name":"Summarize2"},{"parameters":{"assignments":{"assignments":[{"id":"55e84cef-23ea-4a30-89bb-0d3b0f56f090","name":"Titulo","value":"={{ $json.payments[0].reason }}","type":"string"},{"id":"87101191-f0f8-480c-b879-3a1e98915cb9","name":"SKU","value":"={{ $json.order_items[0].item.seller_sku }}","type":"string"},{"id":"3c328d94-b4ed-4781-ba15-7f8124579846","name":"Cantidad","value":"={{ $json.order_items[0].quantity }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,-464],"id":"b0929cc6-d081-4c69-bc6e-feddfc89f440","name":"Información de Sheet (No Inventario)2","executeOnce":false},{"parameters":{"compare":"selectedFields","fieldsToCompare":"results","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[528,-272],"id":"e18e2920-e35a-4d9e-9b97-4256c676d845","name":"Limpieza Ventas 1","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[752,-272],"id":"71a8475e-b067-4f90-ac8f-f5c12e59713e","name":"Aplanar Ventas1"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[752,-560],"id":"2bdbaf65-370a-409f-960a-7bb21321fdae","name":"Aplanar Ventas2"},{"parameters":{"mode":"combine","fieldsToMatchString":"SKU","joinMode":"keepEverything","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1648,-368],"id":"ff929994-2d4e-433e-a931-7434e6a44962","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"393e5c30-a677-427c-9f5e-a1ccc1f79985","name":"Ventas_30","value":"={{ $json.sum_Cantidad }}","type":"number"},{"id":"980da557-7b0b-4960-b691-cfaf1a03529d","name":"SKU","value":"={{ $json.SKU }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,-464],"id":"c00c31e2-725f-440e-9c28-bc35a1976e68","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7dc44d1b-8497-4bd4-add7-08c5e08b7fc9","name":"Ventas_60","value":"={{ $json.sum_Cantidad }}","type":"number"},{"id":"13e2fceb-294d-4228-8d15-b061a61f7116","name":"SKU","value":"={{ $json.SKU }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,-272],"id":"0ea5ce17-c7c5-4a52-8f37-7b10774efed2","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,240],"id":"34b3a4eb-5fe5-4e55-b64d-fda1149f65f1","name":"Schedule Trigger1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"results","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[528,-560],"id":"bd0dfffc-f276-41e5-aba9-01d4344d6d61","name":"Limpieza Ventas ","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"TG-69322bd1aad70a0001bbe607-2303729344"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-416,240],"id":"b1243833-59a9-4ea1-87a3-d17a3924850d","name":"Refresh_ML_Token"},{"parameters":{"url":"=https://api.mercadolibre.com/users/{{ $json.user_id }}/items/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"offset","value":"0"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-192,240],"id":"419bad64-b7b9-4f76-92aa-73a591a66a63","name":"Get_ML_Products","executeOnce":false},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,240],"id":"e01c4661-7af4-46a0-9eca-d920759f797e","name":"Aplanar_Paginas","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"649b1f18-e659-4498-8c69-ce05e1930e9c","name":"Fecha","value":"={{ $json.results[0].payments[0].date_created }}","type":"string"},{"id":"a67fad7d-279f-474c-b3a6-a603b6eceefc","name":"MLC","value":"={{ $json.query }}","type":"string"},{"id":"ab26b020-5fa9-41c5-9450-c98bfdf829af","name":"SKU","value":"={{ $json.results[0].order_items[0].item.seller_sku }}","type":"string"},{"id":"1d93576e-0b34-42c6-8ee0-63d295d3e57e","name":"Pventa","value":"={{ $json.results[0].order_items[0].unit_price }}","type":"string"},{"id":"eb001781-4060-4874-93df-bbb8d79517dd","name":"Comision","value":"={{ $json.results[0].order_items[0].sale_fee }}","type":"string"},{"id":"401900d3-b398-4469-ba53-0323b3f8996b","name":"Envio","value":"={{ $json.results[0].shipping_cost }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,240],"id":"75bc2efa-e06a-42ed-b43f-7abf67c92a8b","name":"Edit Fields6","retryOnFail":false},{"parameters":{"jsCode":"// Obtener todos los items del nodo anterior (Edit Fields6)\nconst items = $input.all();\n\n// Procesar cada item\nconst ventasProcesadas = items.map(item => {\n  const data = item.json;\n  \n  // Verificar si hay venta (algunos productos tienen null en Fecha)\n  if (!data.Fecha || data.Fecha === 'null') {\n    return {\n      json: {\n        // Datos del producto\n        MLC: data.MLC || 'N/A',\n        SKU: data.SKU || 'N/A',\n        \n        // Sin venta\n        Tiene_Venta: false,\n        Mensaje: 'Sin ventas registradas',\n        Fecha_Ultima_Venta: null,\n        Dias_Desde_Venta: null,\n        \n        // Financieros en 0\n        Precio_Venta: 0,\n        Comision_ML: 0,\n        Costo_Envio: 0,\n        Ingreso_Bruto: 0,\n        Ingreso_Neto: 0,\n        Margen_Porcentaje: 0\n      }\n    };\n  }\n  \n  // Parsear valores numéricos\n  const precioVenta = parseFloat(data.Pventa) || 0;\n  const comision = parseFloat(data.Comision) || 0;\n  const envio = parseFloat(data.Envio) || 0;\n  \n  // Calcular ingresos\n  const ingresoBruto = precioVenta;\n  const ingresoNeto = precioVenta - comision - envio;\n  const margenPorcentaje = precioVenta > 0 ? ((ingresoNeto / precioVenta) * 100) : 0;\n  \n  // Calcular días desde la última venta\n  const fechaVenta = new Date(data.Fecha);\n  const hoy = new Date();\n  const diferenciaTiempo = hoy - fechaVenta;\n  const diasDesdeVenta = Math.floor(diferenciaTiempo / (1000 * 60 * 60 * 24));\n  \n  // Formatear fecha\n  const fechaFormateada = fechaVenta.toLocaleDateString('es-CL', {\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  });\n  \n  return {\n    json: {\n      // Identificación del producto\n      MLC: data.MLC || 'N/A',\n      SKU: data.SKU || 'N/A',\n      \n      // Información de venta\n      Tiene_Venta: true,\n      Fecha_Ultima_Venta: fechaFormateada,\n      Fecha_Ultima_Venta_ISO: data.Fecha,\n      Dias_Desde_Venta: diasDesdeVenta,\n      \n      // Análisis de frecuencia\n      Frecuencia_Venta: diasDesdeVenta <= 7 ? 'Alta (≤7 días)' : \n                        diasDesdeVenta <= 30 ? 'Media (≤30 días)' : \n                        diasDesdeVenta <= 60 ? 'Baja (≤60 días)' : \n                        'Muy Baja (>60 días)',\n      \n      // Datos financieros\n      Precio_Venta: Math.round(precioVenta),\n      Comision_ML: Math.round(comision),\n      Costo_Envio: Math.round(envio),\n      \n      // Ingresos\n      Ingreso_Bruto: Math.round(ingresoBruto),\n      Ingreso_Neto: Math.round(ingresoNeto),\n      Margen_Porcentaje: Math.round(margenPorcentaje * 100) / 100,\n      \n      // Análisis\n      Estado_Margen: margenPorcentaje >= 30 ? '✅ Bueno' :\n                     margenPorcentaje >= 15 ? '⚠️ Regular' :\n                     '❌ Bajo',\n      \n      Alerta: diasDesdeVenta > 60 ? '🔴 Producto sin venta reciente' :\n              diasDesdeVenta > 30 ? '🟡 Revisar rotación' :\n              '✅ Rotación normal'\n    }\n  };\n});\n\n// Calcular estadísticas generales\nconst conVenta = ventasProcesadas.filter(v => v.json.Tiene_Venta);\nconst sinVenta = ventasProcesadas.filter(v => !v.json.Tiene_Venta);\n\nconst totalIngresos = conVenta.reduce((sum, v) => sum + v.json.Ingreso_Neto, 0);\nconst ingresoPromedio = conVenta.length > 0 ? totalIngresos / conVenta.length : 0;\nconst margenPromedio = conVenta.length > 0 ? \n  conVenta.reduce((sum, v) => sum + v.json.Margen_Porcentaje, 0) / conVenta.length : 0;\n\n// Agregar un item con el resumen al final\nventasProcesadas.push({\n  json: {\n    // Marcador de que es un resumen\n    ES_RESUMEN: true,\n    \n    // Estadísticas\n    Total_Productos: ventasProcesadas.length - 1,\n    Productos_Con_Venta: conVenta.length,\n    Productos_Sin_Venta: sinVenta.length,\n    \n    // Financiero\n    Total_Ingresos_Netos: Math.round(totalIngresos),\n    Ingreso_Promedio_Por_Producto: Math.round(ingresoPromedio),\n    Margen_Promedio: Math.round(margenPromedio * 100) / 100,\n    \n    // Análisis de frecuencia\n    Productos_Alta_Rotacion: conVenta.filter(v => v.json.Dias_Desde_Venta <= 7).length,\n    Productos_Media_Rotacion: conVenta.filter(v => v.json.Dias_Desde_Venta > 7 && v.json.Dias_Desde_Venta <= 30).length,\n    Productos_Baja_Rotacion: conVenta.filter(v => v.json.Dias_Desde_Venta > 30 && v.json.Dias_Desde_Venta <= 60).length,\n    Productos_Muy_Baja_Rotacion: conVenta.filter(v => v.json.Dias_Desde_Venta > 60).length,\n    \n    // Timestamp\n    Fecha_Analisis: new Date().toISOString()\n  }\n});\n\nreturn ventasProcesadas;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,240],"id":"18356cc2-957a-4505-9971-0735833587d8","name":"Code in JavaScript"},{"parameters":{"url":"https://api.mercadolibre.com/orders/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"seller","value":"={{ $('Get_ML_Products').item.json.seller_id }}"},{"name":"sort","value":"date_desc"},{"name":"limit","value":"1"},{"name":"q","value":"={{ $json.results }}"},{"name":"order.status","value":"paid"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,240],"id":"b86e7963-c254-4f8f-b53c-d11bd02c1df2","name":"ultima_venta","executeOnce":false,"retryOnFail":true},{"parameters":{"mode":"combineBySql","query":"SELECT \n    t1.*,\n    t2.Costo,\n    t2.Titulo,\n    t2.Stock_Total,\n    t2.Proveedor\nFROM input1 t1\nLEFT JOIN input2 t2 \n    ON t1.MLC = t2.Codigo_ML","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,320],"id":"7a76e57a-33c2-41e7-ac66-8c54c7df6232","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc","mode":"list","cachedResultName":"Inventario_ML","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1150527612,"mode":"list","cachedResultName":"Global","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1z2yPe2-_pf-m86P9gFetlh7lapVANF8um_qsbNZdOEc/edit#gid=1150527612"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[720,448],"id":"5f5595a3-575e-40bc-b571-fe023ac02896","name":"Get row(s) in sheet","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Obtener todos los items del merge\nconst items = $input.all();\n\n// Filtrar el resumen (lo procesaremos al final)\nconst resumen = items.find(item => item.json.ES_RESUMEN);\nconst productos = items.filter(item => !item.json.ES_RESUMEN);\n\n// Procesar cada producto con cálculo de utilidad y rentabilidad\nconst productosConUtilidad = productos.map(item => {\n  const data = item.json;\n  \n  // Si no tiene venta, no hay utilidad\n  if (!data.Tiene_Venta) {\n    return {\n      json: {\n        ...data,\n        Costo_Producto: parseFloat(data.Costo) || 0,\n        Cantidad_Vendida: 0,\n        Costo_Total_Venta: 0,\n        Utilidad: 0,\n        Rentabilidad_Porcentaje: 0,\n        ROI: 0,\n        Analisis_Rentabilidad: '⚪ Sin datos'\n      }\n    };\n  }\n  \n  // Parsear valores\n  const costoUnitario = parseFloat(data.Costo) || 0;\n  const ingresoNeto = parseFloat(data.Ingreso_Neto) || 0;\n  const precioVenta = parseFloat(data.Precio_Venta) || 0;\n  \n  // ASUMIR: Cada venta en \"ultima_venta\" es de 1 unidad\n  // Si tu API devuelve cantidad, ajusta aquí\n  const cantidadVendida = 1; // O usar: data.Cantidad si lo tienes\n  \n  // Calcular costo de la venta\n  const costoTotalVenta = costoUnitario * cantidadVendida;\n  \n  // UTILIDAD = Ingreso Neto - Costo de los productos vendidos\n  const utilidad = ingresoNeto - costoTotalVenta;\n  \n  // RENTABILIDAD = (Utilidad / Costo Total) * 100\n  const rentabilidad = costoTotalVenta > 0 ? \n    (utilidad / costoTotalVenta) * 100 : 0;\n  \n  // ROI (Return on Investment)\n  const roi = costoTotalVenta > 0 ? \n    ((precioVenta - costoTotalVenta) / costoTotalVenta) * 100 : 0;\n  \n  // Análisis de rentabilidad\n  let analisisRentabilidad;\n  if (rentabilidad >= 100) {\n    analisisRentabilidad = '🟢 Excelente (>100%)';\n  } else if (rentabilidad >= 50) {\n    analisisRentabilidad = '🟢 Muy buena (50-100%)';\n  } else if (rentabilidad >= 30) {\n    analisisRentabilidad = '🟡 Buena (30-50%)';\n  } else if (rentabilidad >= 15) {\n    analisisRentabilidad = '🟡 Regular (15-30%)';\n  } else if (rentabilidad > 0) {\n    analisisRentabilidad = '🟠 Baja (0-15%)';\n  } else {\n    analisisRentabilidad = '🔴 PÉRDIDA';\n  }\n  \n  return {\n    json: {\n      // Mantener todos los datos anteriores\n      ...data,\n      \n      // Información de costos\n      Costo_Producto: Math.round(costoUnitario),\n      Cantidad_Vendida: cantidadVendida,\n      Costo_Total_Venta: Math.round(costoTotalVenta),\n      \n      // Cálculos de rentabilidad\n      Utilidad: Math.round(utilidad),\n      Rentabilidad_Porcentaje: Math.round(rentabilidad * 100) / 100,\n      ROI: Math.round(roi * 100) / 100,\n      \n      // Análisis\n      Analisis_Rentabilidad: analisisRentabilidad,\n      \n      // Desglose detallado\n      Desglose: {\n        precio_venta: Math.round(precioVenta),\n        menos_comision: Math.round(data.Comision_ML),\n        menos_envio: Math.round(data.Costo_Envio),\n        igual_ingreso_neto: Math.round(ingresoNeto),\n        menos_costo_producto: Math.round(costoTotalVenta),\n        igual_utilidad: Math.round(utilidad)\n      }\n    }\n  };\n});\n\n// Calcular estadísticas mejoradas\nconst conVenta = productosConUtilidad.filter(p => p.json.Tiene_Venta);\nconst sinVenta = productosConUtilidad.filter(p => !p.json.Tiene_Venta);\n\n// Estadísticas financieras\nconst totalUtilidad = conVenta.reduce((sum, p) => sum + p.json.Utilidad, 0);\nconst totalCostos = conVenta.reduce((sum, p) => sum + p.json.Costo_Total_Venta, 0);\nconst totalIngresos = conVenta.reduce((sum, p) => sum + p.json.Ingreso_Neto, 0);\n\nconst utilidadPromedio = conVenta.length > 0 ? totalUtilidad / conVenta.length : 0;\nconst rentabilidadPromedio = conVenta.length > 0 ? \n  conVenta.reduce((sum, p) => sum + p.json.Rentabilidad_Porcentaje, 0) / conVenta.length : 0;\n\n// Productos por rentabilidad\nconst excelente = conVenta.filter(p => p.json.Rentabilidad_Porcentaje >= 100).length;\nconst muyBuena = conVenta.filter(p => p.json.Rentabilidad_Porcentaje >= 50 && p.json.Rentabilidad_Porcentaje < 100).length;\nconst buena = conVenta.filter(p => p.json.Rentabilidad_Porcentaje >= 30 && p.json.Rentabilidad_Porcentaje < 50).length;\nconst regular = conVenta.filter(p => p.json.Rentabilidad_Porcentaje >= 15 && p.json.Rentabilidad_Porcentaje < 30).length;\nconst baja = conVenta.filter(p => p.json.Rentabilidad_Porcentaje > 0 && p.json.Rentabilidad_Porcentaje < 15).length;\nconst perdida = conVenta.filter(p => p.json.Rentabilidad_Porcentaje <= 0).length;\n\n// Top 10 productos más rentables\nconst topRentables = [...conVenta]\n  .sort((a, b) => b.json.Utilidad - a.json.Utilidad)\n  .slice(0, 10)\n  .map(p => ({\n    MLC: p.json.MLC,\n    SKU: p.json.SKU,\n    Titulo: p.json.Titulo,\n    Utilidad: p.json.Utilidad,\n    Rentabilidad: p.json.Rentabilidad_Porcentaje\n  }));\n\n// Top 10 productos con pérdidas\nconst topPerdidas = [...conVenta]\n  .filter(p => p.json.Utilidad < 0)\n  .sort((a, b) => a.json.Utilidad - b.json.Utilidad)\n  .slice(0, 10)\n  .map(p => ({\n    MLC: p.json.MLC,\n    SKU: p.json.SKU,\n    Titulo: p.json.Titulo,\n    Utilidad: p.json.Utilidad,\n    Rentabilidad: p.json.Rentabilidad_Porcentaje\n  }));\n\n// Agregar resumen mejorado\nproductosConUtilidad.push({\n  json: {\n    ES_RESUMEN: true,\n    \n    // Conteo de productos\n    Total_Productos_Analizados: productosConUtilidad.length,\n    Productos_Con_Venta: conVenta.length,\n    Productos_Sin_Venta: sinVenta.length,\n    \n    // Financiero general\n    Total_Ingresos_Netos: Math.round(totalIngresos),\n    Total_Costos: Math.round(totalCostos),\n    Total_Utilidad: Math.round(totalUtilidad),\n    \n    // Promedios\n    Ingreso_Promedio: Math.round(totalIngresos / conVenta.length),\n    Costo_Promedio: Math.round(totalCostos / conVenta.length),\n    Utilidad_Promedio: Math.round(utilidadPromedio),\n    Rentabilidad_Promedio: Math.round(rentabilidadPromedio * 100) / 100,\n    \n    // ROI General\n    ROI_General: totalCostos > 0 ? \n      Math.round(((totalIngresos - totalCostos) / totalCostos) * 100 * 100) / 100 : 0,\n    \n    // Distribución por rentabilidad\n    Productos_Excelente_Rentabilidad: excelente,\n    Productos_Muy_Buena_Rentabilidad: muyBuena,\n    Productos_Buena_Rentabilidad: buena,\n    Productos_Regular_Rentabilidad: regular,\n    Productos_Baja_Rentabilidad: baja,\n    Productos_Con_Perdida: perdida,\n    \n    // Rankings\n    Top_10_Mas_Rentables: topRentables,\n    Top_10_Con_Perdidas: topPerdidas.length > 0 ? topPerdidas : \"No hay productos con pérdidas\",\n    \n    // Alertas\n    Alerta_Productos_Perdida: perdida > 0 ? \n      `⚠️ HAY ${perdida} PRODUCTOS GENERANDO PÉRDIDAS` : \n      \"✅ Ningún producto genera pérdidas\",\n    \n    // Timestamp\n    Fecha_Analisis: new Date().toISOString(),\n    Fecha_Analisis_Legible: new Date().toLocaleString('es-CL')\n  }\n});\n\nreturn productosConUtilidad;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,320],"id":"cf41c416-2e6d-4a3a-8921-deea9a193e4e","name":"Code in JavaScript1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,320],"id":"5d5939b5-13ec-4602-9bcc-872171488883","name":"Edit Fields7"},{"parameters":{"url":"https://api.mercadolibre.com/orders/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"seller","value":"={{ $('Get_ML_Products').item.json.seller_id }}"},{"name":"sort","value":"date_desc"},{"name":"q","value":"MLC2895647764"},{"name":"order.status","value":"paid"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,592],"id":"96121b0f-4d28-48a7-ad8e-7439d4a8638e","name":"ultima_venta1","executeOnce":true,"retryOnFail":true},{"parameters":{"url":"=https://api.mercadolibre.com/shipments/{{ $json.shipping.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}","limitPagesFetched":true,"maxRequests":2}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,640],"id":"d6b066b5-4a17-4fef-9d5a-e478029c6540","name":"Shipping ","executeOnce":false,"retryOnFail":false,"alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[384,640],"id":"5a8fb86b-72f8-4a9c-b618-2ac5120ea6f6","name":"Aplanar Ventas3"},{"parameters":{"url":"=https://api.mercadolibre.com/shipments/{{ $json.shipping.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Refresh_ML_Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 50 || 0 }}"},{"name":"limit","value":"51"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body && $response.body.paging.offset + $response.body.paging.limit >= $response.body.paging.total }}"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,816],"id":"ad8d0388-e9c4-4400-98ea-ad0ff7b6c4a7","name":"Shipping 1","executeOnce":false,"retryOnFail":true}],"connections":{"Ventas30":{"main":[[{"node":"Limpieza Ventas ","type":"main","index":0},{"node":"Aplanar Ventas","type":"main","index":0}]]},"Shipping 30":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Summarize1":{"main":[[]]},"Remove Duplicates":{"main":[[{"node":"Shipping 30","type":"main","index":0}]]},"Aplanar Ventas":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Stock_Productos":{"main":[[{"node":"Información Sheet Inventario","type":"main","index":0}]]},"Get_Item_Details":{"main":[[{"node":"Información de Sheet (No Inventario)","type":"main","index":0}]]},"Remueve SKU Duplicados":{"main":[[{"node":"Stock_Productos","type":"main","index":0},{"node":"SKU y Stock","type":"main","index":0}]]},"Información de Sheet (No Inventario)":{"main":[[{"node":"Remueve SKU Duplicados","type":"main","index":0}]]},"Información Sheet Inventario":{"main":[[{"node":"SKU y Stock","type":"main","index":1}]]},"Formateo Sheet":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Información de Sheet (No Inventario)1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Union Array":{"main":[[{"node":"Formateo Sheet","type":"main","index":0}]]},"SKU y Stock":{"main":[[{"node":"Union Array","type":"main","index":1}]]},"SKU y Ventas 30 & 60":{"main":[[{"node":"Union Array","type":"main","index":0}]]},"Ventas60":{"main":[[{"node":"Limpieza Ventas 1","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Información de Sheet (No Inventario)2":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Limpieza Ventas 1":{"main":[[{"node":"Aplanar Ventas1","type":"main","index":0}]]},"Aplanar Ventas1":{"main":[[{"node":"Información de Sheet (No Inventario)1","type":"main","index":0}]]},"Aplanar Ventas2":{"main":[[{"node":"Información de Sheet (No Inventario)2","type":"main","index":0},{"node":"Remove Duplicates","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"SKU y Ventas 30 & 60","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Schedule Trigger1":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Limpieza Ventas ":{"main":[[{"node":"Aplanar Ventas2","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"Get_ML_Products","type":"main","index":0}]]},"Get_ML_Products":{"main":[[{"node":"Aplanar_Paginas","type":"main","index":0}]]},"Aplanar_Paginas":{"main":[[{"node":"Ventas30","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"ultima_venta":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"ultima_venta1":{"main":[[{"node":"Aplanar Ventas3","type":"main","index":0}]]},"Aplanar Ventas3":{"main":[[{"node":"Shipping ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2bcd461d-7781-49b6-8b5e-32424b048863","activeVersionId":null,"versionCounter":89,"triggerCount":1,"shared":[{"updatedAt":"2025-12-11T00:46:59.316Z","createdAt":"2025-12-11T00:46:59.316Z","role":"workflow:owner","workflowId":"Gy8PpqK2BrGV84xy","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}