n8n/18-12-25 workflow/my_workflow.json
{"updatedAt":"2025-12-08T15:03:02.000Z","createdAt":"2025-12-02T15:03:20.690Z","id":"73b7LCDyQJVKdeGd","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"prueba","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"468cd48d-1f30-4fe7-912c-0c6a5ab6e5b5","name":"Webhook","webhookId":"dd3b33a1-7d1c-442e-b6c3-1ab4f4095cd8"},{"parameters":{"path":"Test2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[64,528],"id":"fb337b70-dfed-4bf6-ba2f-40668e568203","name":"Webhook1","webhookId":"0cc47f79-519e-4334-9241-690ab67035e7"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"={{ $json.refresh_token }}"},{"name":"redirect_uri","value":"https://agente-meli-n8n.7skqlp.easypanel.host/webhook/prueba"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,0],"id":"779a92db-2de3-4a97-a56a-a0bd9b31b9cd","name":"Refresh Token"},{"parameters":{"content":"https://auth.mercadolibre.com/authorization?response_type=code&client_id=5168368765576929&redirect_url=https://agente-meli-n8n.7skqlp.easypanel.host/webhook-test/prueba\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,176],"id":"97939ab7-caf6-4004-9eca-06a661d0e67a","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"authorization_code"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"code","value":"={{ $json.query.code }}"},{"name":"redirect_uri","value":"https://agente-meli-n8n.7skqlp.easypanel.host/webhook/prueba"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"bd74e2fb-83f7-44d2-8afb-88941d089ac8","name":"Access Token"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"5168368765576929"},{"name":"client_secret","value":"PInjmoLGlppXD5BVHXnCy2154voNQ8XM"},{"name":"refresh_token","value":"=TG-692f1fa370ddda00017a66f7-2303729344"},{"name":"redirect_uri","value":"https://agente-meli-n8n.7skqlp.easypanel.host/webhook/prueba"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,416],"id":"1d927db8-3155-4250-83dc-cd1b4d619ac1","name":"Refresh Token1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[432,512],"id":"68f71d9a-b8ce-4935-9aec-900125df60d7","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"Access Token","type":"main","index":0}]]},"Access Token":{"main":[[{"node":"Refresh Token","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Refresh Token1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"agente-meli-n8n.7skqlp.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-419,es;q=0.9","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX1%2FG4jeTVsPXGcGbn0kp4ZrUdsJD22cnR3SKsnrx9zJTDqoTXAIWzJCl; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19L2puCS%2Fu6qKCgocRJj1UDFXXvUo4eCXfa7wATJfRSylCF8nab536N; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19OGV84lRsXFTe2N%2Bi61mB0G4%2Bi%2Fs9lt6LjQHLr0wcNCIz8I5rtxwQ3gqmCMZn8lz%2F7pYTbzHGiIw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19bSzUpXJwxlG6txpsrcVn6agtJLOFrULgzYjwmvXM%2BRyps1rTbXvgsxsdyhUMxKBHBweTW7dB%2FI5Acd9q64SWDNoBz0%2BlGuy2hNVHLmx4oCnIcywSVQ8a1sA25PjrWDFijYr0WlYAdSZHNZqsxryTWRjOj4ML81ec%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX184ISdoUBaQopnqmrD1b06IPjIFbojYOZu0azqjgZeMBvqpwvLU3mZZ%2BMBJjMu0C7fh1SfK6wxLamdvhYsbbeNwkjkDCMrRGAKeTShRHyAbg2NZE0%2FRBh%2B1x%2BYdK7YslZOCkWAzNO2zdMEGeS%2BydKdFaLoOzKoJoww%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22e8d35aa407ca216a8f610d3f20f701d0cbff5843e672d842d98ceb7aedd429c7%23bdb7d8a4-f732-42bb-9e77-16598037aaee%22%2C%22%24sesid%22%3A%5B1764691854642%2C%22019adf88-1d6b-7503-91ad-535f7a948d61%22%2C1764686830955%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22http%3A%2F%2F72.60.155.60%3A3000%2F%22%2C%22u%22%3A%22https%3A%2F%2Fagente-meli-n8n.7skqlp.easypanel.host%2Fhome%2Fworkflows%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2BbbW46bMwMGi8nF947K8PNpQnu8H%2BNmCTTWESDkEHqT91mPV89uzUv2RcciH8nInoDme0lrOidNbMJP9w1j6HcQ5daxgA8l2tq%2BGmSMHENr2wJNRI47lnAPTrho5SILv3HRMEA9qZnVw%3D%3D","priority":"u=0, i","referer":"https://auth.mercadolibre.cl/appstore/access?client_id=5168368765576929&response_type=code&redirect_uri=https%3A%2F%2Fagente-meli-n8n.7skqlp.easypanel.host%2Fwebhook%2Fprueba&scopes=urn%3Aml%3Amktp%3Acomunication%3A%2Fread-write%2Curn%3Aml%3Amktp%3Apublish-sync%3A%2Fread-write%2Curn%3Aml%3Amktp%3Aads%3A%2Fread-write%2Curn%3Aml%3Amktp%3Ainvoices%3A%2Fread-write%2Curn%3Aml%3Amktp%3Ametrics%3A%2Fread-only%2Curn%3Aml%3Amktp%3Aoffers%3A%2Fread-write%2Curn%3Aml%3Amktp%3Aorders-shipments%3A%2Fread-write%2Coffline_access%2Cread%2Curn%3Aglobal%3Aadmin%3Ainfo%3A%2Fread-only%2Curn%3Aglobal%3Aadmin%3Ainfo%3A%2Fread-write%2Curn%3Aglobal%3Aadmin%3Aoauth%3A%2Fread-only%2Curn%3Aglobal%3Aadmin%3Aoauth%3A%2Fread-write%2Curn%3Aglobal%3Aadmin%3Ausers%3A%2Fread-only%2Curn%3Aglobal%3Aadmin%3Ausers%3A%2Fread-write%2Cwrite&grantType=appstore&nameStamp=68aee56efbb21b98b0f72d7f9d242f394e179731c281a147bd5d339a2f73de55&timestamp=1764691870696&authorize=true&_csrf=1kNMhqIp-lwv2LqAaBfBAgVDrsqZJGflkrZ4&deviceSessionId=armor.dc9d38e427be4ae05fff11b303c93da440af2000ef7a2d3eb95a6fce7fa434a3db29ba84137a1b212ecb7fef9d61cc121db393508075a746e672e279d77340470dd3845ba84b0bb0e40343082658511423212db8a738001d8e365cc581ad9637.0ee6514879922987e656afb820c42050","sec-ch-ua":"\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"200.39.136.79","x-forwarded-host":"agente-meli-n8n.7skqlp.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"1b7d30d8e782","x-real-ip":"200.39.136.79"},"params":{},"query":{"code":"TG-692f0fa77ed2dd0001446b87-2303729344"},"body":{},"webhookUrl":"https://agente-meli-n8n.7skqlp.easypanel.host/webhook/prueba","executionMode":"production"}}]},"versionId":"dac98671-94b9-46c9-8b11-bd2c9d561f9a","activeVersionId":null,"versionCounter":24,"triggerCount":2,"shared":[{"updatedAt":"2025-12-02T15:03:20.695Z","createdAt":"2025-12-02T15:03:20.695Z","role":"workflow:owner","workflowId":"73b7LCDyQJVKdeGd","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}