n8n/18-12-25 workflow/stock_ml_automation_v1.json
{"updatedAt":"2025-12-07T19:39:43.000Z","createdAt":"2025-12-07T13:37:16.929Z","id":"jO5YG2FOHuk7Zq68","name":"Stock_ML_Automation_v1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"name":"Schedule_Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-1984,368],"id":"4eed5dc4-9763-4ab2-8404-c1b4e8b8a0a6"},{"parameters":{"url":"https://api.mercadolibre.com/oauth/token","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"grant_type\": \"refresh_token\",\n  \"client_id\": \"{{$credentials.clientId}}\",\n  \"client_secret\": \"{{$credentials.clientSecret}}\",\n  \"refresh_token\": \"{{$credentials.refreshToken}}\"\n}","options":{}},"name":"Refresh_ML_Token","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-1760,368],"id":"45da8a5a-28ef-446f-82ec-5043fc205929","credentials":{"httpHeaderAuth":{"id":"TBz47iqZlC8RxZHH","name":"MercadoLibre Token"}}},{"parameters":{"jsCode":"const accessToken = $input.item.json.access_token;\n\nreturn {\n  json: {\n    access_token: accessToken\n  }\n};"},"name":"Extract_Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,368],"id":"298659f9-6005-4d66-86fe-e01a851285ca"},{"parameters":{"url":"https://api.mercadolibre.com/users/me","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"Extract_Token\"].json[\"access_token\"]}}"}]},"options":{}},"name":"Get_User_ID","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-1312,368],"id":"d3e53ff9-e02f-4a92-bb85-eebc19695cd5"},{"parameters":{"jsCode":"const userId = $input.item.json.id;\nconst accessToken = $node[\"Extract_Token\"].json[\"access_token\"];\n\nreturn {\n  json: {\n    user_id: userId,\n    access_token: accessToken\n  }\n};"},"name":"Extract_User_ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,368],"id":"783a0f10-911a-40bc-aef2-62e4a76639ba"},{"parameters":{"jsCode":"const axios = require('axios');\n\nconst accessToken = $input.item.json.access_token;\nconst userId = $input.item.json.user_id;\n\nconst baseUrl = 'https://api.mercadolibre.com';\nconst limit = 50;\nlet offset = 0;\nlet allItems = [];\nlet hasMore = true;\n\nasync function getItems(offset) {\n  try {\n    const response = await axios.get(\n      `${baseUrl}/users/${userId}/items/search`,\n      {\n        params: {\n          status: 'active',\n          limit: limit,\n          offset: offset\n        },\n        headers: {\n          'Authorization': `Bearer ${accessToken}`\n        }\n      }\n    );\n    return response.data;\n  } catch (error) {\n    console.error('Error fetching items:', error.message);\n    throw error;\n  }\n}\n\nwhile (hasMore) {\n  const data = await getItems(offset);\n  \n  if (data.results && data.results.length > 0) {\n    allItems = allItems.concat(data.results);\n    offset += limit;\n    \n    if (data.results.length < limit || offset >= data.paging.total) {\n      hasMore = false;\n    }\n  } else {\n    hasMore = false;\n  }\n  \n  await new Promise(resolve => setTimeout(resolve, 500));\n}\n\nreturn {\n  json: {\n    total_items: allItems.length,\n    item_ids: allItems,\n    access_token: accessToken\n  }\n};"},"name":"Get_All_Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,368],"id":"eaa6123c-a315-48c2-9720-85842f857b17"},{"parameters":{"fieldToSplitOut":"item_ids","options":{}},"name":"Split_Item_IDs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-640,368],"id":"f9ba0851-79d1-4147-911a-1f799d42c902"},{"parameters":{"url":"=https://api.mercadolibre.com/items/{{$json[\"id\"]}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"Extract_User_ID\"].json[\"access_token\"]}}"}]},"options":{"batching":{"batch":{"batchSize":10}}}},"name":"Get_Item_Details","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-416,272],"id":"2df398f9-5937-4e8e-a9b6-f2bfeab59b39"},{"parameters":{"url":"=https://api.mercadolibre.com/items/{{$json[\"id\"]}}/inventory","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"Extract_User_ID\"].json[\"access_token\"]}}"}]},"options":{"batching":{"batch":{"batchSize":10}},"response":{"response":{"neverError":true}}}},"name":"Get_FULL_Stock","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[-416,464],"id":"1b48470f-016f-4150-9d48-38297e99aaca"},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"name":"Merge_Item_Data","type":"n8n-nodes-base.merge","typeVersion":2,"position":[-192,368],"id":"428f54a9-70ab-4c57-8e8a-ac705927dd73"},{"parameters":{"jsCode":"const item = $input.item.json;\nconst fullInventory = $node[\"Get_FULL_Stock\"].item.json;\n\nconst itemId = item.id || '';\nconst title = item.title || '';\nconst price = item.price || 0;\nconst availableQuantity = item.available_quantity || 0;\nconst status = item.status || '';\nconst permalink = item.permalink || '';\n\nlet sku = '';\nif (item.seller_custom_field) {\n  sku = item.seller_custom_field;\n}\n\nlet stockFull = 0;\nlet stockFlex = 0;\n\nif (fullInventory && fullInventory.inventories) {\n  const fullInv = fullInventory.inventories.find(inv => inv.id && inv.id.includes('FULL'));\n  if (fullInv && fullInv.available_quantity) {\n    stockFull = fullInv.available_quantity;\n  }\n}\n\nstockFlex = Math.max(0, availableQuantity - stockFull);\nconst stockTotal = availableQuantity;\n\nreturn {\n  json: {\n    id_ml: itemId,\n    sku: sku,\n    producto: title,\n    stock_bodega: 0,\n    stock_full: stockFull,\n    stock_flex: stockFlex,\n    stock_total: stockTotal,\n    precio_venta: price,\n    status: status,\n    permalink: permalink,\n    ultima_actualizacion: new Date().toISOString(),\n    shipping_mode: item.shipping?.mode || 'not_specified',\n    listing_type: item.listing_type_id || '',\n    catalog_listing: item.catalog_listing || false\n  }\n};"},"name":"Process_Inventory_Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,368],"id":"2fdff6f3-29c6-4e32-998e-66f63e92f246"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"name":"Load_Current_Sheet_Data","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-1984,688],"id":"6b51a6ce-ea28-445f-b85c-b12ba249b68c"},{"parameters":{"jsCode":"const mlData = $node[\"Process_Inventory_Data\"].item.json;\nconst sheetData = $node[\"Load_Current_Sheet_Data\"].json;\n\nconst existingRow = sheetData.find(row => row.ID_ML === mlData.id_ml);\n\nlet finalData = {\n  proveedor: existingRow?.Proveedor || '',\n  sku: mlData.sku || existingRow?.SKU || '',\n  producto: mlData.producto,\n  id_ml: mlData.id_ml,\n  stock_bodega: existingRow?.Stock_Bodega || 0,\n  stock_full: mlData.stock_full,\n  stock_flex: mlData.stock_flex,\n  stock_total: mlData.stock_total,\n  umbral_minimo: existingRow?.Umbral_Minimo || 5,\n  costo_unitario: existingRow?.Costo_Unitario || 0,\n  precio_venta: mlData.precio_venta,\n  status: mlData.status,\n  ultima_actualizacion: mlData.ultima_actualizacion,\n  permalink: mlData.permalink\n};\n\nconst stockActual = finalData.stock_total;\nconst umbral = finalData.umbral_minimo;\nfinalData.alerta_stock = stockActual < umbral;\n\nreturn { json: finalData };"},"name":"Merge_With_Sheet_Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,368],"id":"501129e8-f0bd-4b4a-8001-7b0010d42458"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"name":"Update_Google_Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[480,368],"id":"b001ad50-4ab6-47da-82d5-ef604e2ff974"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.alerta_stock}}","value2":true}]},"options":{}},"name":"Filter_Low_Stock","type":"n8n-nodes-base.filter","typeVersion":2,"position":[704,368],"id":"8e6e04fb-9c22-41f0-80da-014a8a2e1fca"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"name":"Aggregate_Alerts","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[928,368],"id":"b9343127-4d04-418d-84fe-394903834b63"},{"parameters":{"jsCode":"const items = $input.item.json.aggregatedItems || [];\n\nif (items.length === 0) {\n  return {\n    json: {\n      send_email: false,\n      subject: '',\n      body: ''\n    }\n  };\n}\n\nlet tableRows = items.map(item => {\n  const deficit = item.umbral_minimo - item.stock_total;\n  const urgencia = deficit > 10 ? '🔴 URGENTE' : '⚠️ Atención';\n  \n  return `\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">${urgencia}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">${item.proveedor || 'N/A'}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">${item.sku || 'N/A'}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">${item.producto}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">${item.stock_total}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">${item.umbral_minimo}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; font-weight: bold; color: red;\">${deficit}</td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><a href=\"${item.permalink}\" target=\"_blank\">Ver</a></td>\n    </tr>\n  `;\n}).join('');\n\nconst emailBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    table { border-collapse: collapse; width: 100%; margin-top: 20px; }\n    th { background-color: #f44336; color: white; padding: 12px; text-align: left; }\n    tr:nth-child(even) { background-color: #f9f9f9; }\n  </style>\n</head>\n<body>\n  <h2>🚨 Alerta de Stock Bajo - ${new Date().toLocaleString('es-CL')}</h2>\n  <p>Se detectaron <strong>${items.length} producto(s)</strong> bajo el umbral mínimo de stock:</p>\n  \n  <table>\n    <thead>\n      <tr>\n        <th>Urgencia</th>\n        <th>Proveedor</th>\n        <th>SKU</th>\n        <th>Producto</th>\n        <th>Stock Actual</th>\n        <th>Umbral</th>\n        <th>Déficit</th>\n        <th>Link</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${tableRows}\n    </tbody>\n  </table>\n  \n  <p style=\"margin-top: 30px; color: #666;\">\n    Este es un mensaje automático del sistema de gestión de inventario.<br>\n    Última actualización: ${new Date().toLocaleString('es-CL')}\n  </p>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    send_email: true,\n    subject: `🚨 ALERTA: ${items.length} producto(s) con stock bajo`,\n    body: emailBody,\n    total_alerts: items.length\n  }\n};"},"name":"Format_Email_Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,368],"id":"57cfdb94-10a7-44c9-a2ca-abad3d40b7df"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.send_email}}","value2":true}]},"options":{}},"name":"IF_Send_Email","type":"n8n-nodes-base.if","typeVersion":2,"position":[1376,368],"id":"26b2696e-9550-46b8-be94-68c43758890a"},{"parameters":{"sendTo":"REEMPLAZAR_CON_TU_EMAIL@gmail.com","subject":"={{$json.subject}}","message":"={{$json.body}}","options":{}},"name":"Send_Email_Alert","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1600,368],"id":"74aa39c0-8329-4d17-b319-1656ca323543","webhookId":"38a77e91-d99c-4488-a703-e582f65a3e18"},{"parameters":{"jsCode":"const now = new Date().toISOString();\nconst totalItems = $node[\"Get_All_Items\"].json.total_items || 0;\nconst alerts = $json.total_alerts || 0;\n\nconsole.log(`✅ Workflow completado exitosamente`);\nconsole.log(`Fecha: ${now}`);\nconsole.log(`Total productos procesados: ${totalItems}`);\nconsole.log(`Alertas generadas: ${alerts}`);\n\nreturn {\n  json: {\n    status: 'success',\n    timestamp: now,\n    total_items: totalItems,\n    total_alerts: alerts\n  }\n};"},"name":"Log_Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,368],"id":"1dfd12c3-d737-477a-b95a-079a029fc471"}],"connections":{"Schedule_Trigger":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"Extract_Token","type":"main","index":0}]]},"Extract_Token":{"main":[[{"node":"Get_User_ID","type":"main","index":0}]]},"Get_User_ID":{"main":[[{"node":"Extract_User_ID","type":"main","index":0}]]},"Extract_User_ID":{"main":[[{"node":"Get_All_Items","type":"main","index":0}]]},"Get_All_Items":{"main":[[{"node":"Split_Item_IDs","type":"main","index":0}]]},"Split_Item_IDs":{"main":[[{"node":"Get_Item_Details","type":"main","index":0},{"node":"Get_FULL_Stock","type":"main","index":0}]]},"Get_Item_Details":{"main":[[{"node":"Merge_Item_Data","type":"main","index":0}]]},"Get_FULL_Stock":{"main":[[{"node":"Merge_Item_Data","type":"main","index":1}]]},"Merge_Item_Data":{"main":[[{"node":"Process_Inventory_Data","type":"main","index":0}]]},"Process_Inventory_Data":{"main":[[{"node":"Merge_With_Sheet_Data","type":"main","index":0}]]},"Merge_With_Sheet_Data":{"main":[[{"node":"Update_Google_Sheet","type":"main","index":0}]]},"Update_Google_Sheet":{"main":[[{"node":"Filter_Low_Stock","type":"main","index":0}]]},"Filter_Low_Stock":{"main":[[{"node":"Aggregate_Alerts","type":"main","index":0}]]},"Aggregate_Alerts":{"main":[[{"node":"Format_Email_Alert","type":"main","index":0}]]},"Format_Email_Alert":{"main":[[{"node":"IF_Send_Email","type":"main","index":0}]]},"IF_Send_Email":{"main":[[{"node":"Send_Email_Alert","type":"main","index":0}]]},"Send_Email_Alert":{"main":[[{"node":"Log_Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"faf647d5-a503-40a2-9f49-607694ec35dc","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-07T13:37:16.934Z","createdAt":"2025-12-07T13:37:16.934Z","role":"workflow:owner","workflowId":"jO5YG2FOHuk7Zq68","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}