n8n/18-12-25 workflow/test_import.json
{"updatedAt":"2025-12-18T02:11:22.158Z","createdAt":"2025-12-18T02:11:13.618Z","id":"IcchD2yumVIGAEwE","name":"Test Import","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalation-update","responseMode":"responseNode","options":{}},"id":"70d55dd4-5d30-4999-b168-d0e7ccf189d1","name":"Webhook Actualizar Escalacion","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[512,48],"webhookId":"escalation-update"},{"parameters":{"jsCode":"// Parsear datos de la escalacion\nconst body = $input.first().json;\n\nconst escalationId = body.escalation_id;\nconst action = body.action; // 'resolve', 'dismiss', 'assign', 'respond'\nconst humanResponse = body.human_response || null;\nconst resolutionNotes = body.resolution_notes || null;\nconst assignedTo = body.assigned_to || null;\n\nif (!escalationId || !action) {\n  throw new Error('escalation_id y action son requeridos');\n}\n\nreturn {\n  json: {\n    escalationId,\n    action,\n    humanResponse,\n    resolutionNotes,\n    assignedTo\n  }\n};"},"id":"a6952ec7-6e34-4d39-9230-659b41b6057a","name":"Parsear Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"869162f1-bc60-40de-86a6-8347334ba93a","name":"Tipo de Accion","type":"n8n-nodes-base.switch","typeVersion":3,"position":[960,48]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/escalations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.escalationId }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"resolved\",\n  \"human_response\": {{ $json.humanResponse ? '\"' + $json.humanResponse + '\"' : 'null' }},\n  \"resolution_notes\": {{ $json.resolutionNotes ? '\"' + $json.resolutionNotes + '\"' : 'null' }},\n  \"resolved_at\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"id":"63f20cea-496d-4762-a515-5bbd25c8bf06","name":"Resolver Escalacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,-112]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/escalations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.escalationId }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"dismissed\",\n  \"resolution_notes\": {{ $json.resolutionNotes ? '\"' + $json.resolutionNotes + '\"' : '\"Caso descartado\"' }},\n  \"resolved_at\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"id":"5d77c76f-f0ac-4482-af65-c2925801458b","name":"Descartar Escalacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,48]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/escalations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.escalationId }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"in_progress\",\n  \"assigned_to\": \"{{ $json.assignedTo }}\"\n}","options":{}},"id":"6596d2f3-1f96-4fe7-86c4-9db0807e165d","name":"Asignar Escalacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,208]},{"parameters":{"mode":"chooseBranch","output":"all"},"id":"1c1793f2-8cb7-410a-8651-14c3f0029bdd","name":"Unir Acciones","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1392,48]},{"parameters":{"jsCode":"// Preparar respuesta\nconst result = $input.first().json;\nconst updatedEscalation = Array.isArray(result) ? result[0] : result;\n\nreturn {\n  json: {\n    success: true,\n    message: 'Escalacion actualizada correctamente',\n    escalation: updatedEscalation\n  }\n};"},"id":"3a1504bb-475c-46dc-921e-80e51ce769da","name":"Preparar Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,48]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"8fed29e4-9bc8-4ce0-a534-e61a1b4e6628","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,48]}],"connections":{"Webhook Actualizar Escalacion":{"main":[[{"node":"Parsear Request","type":"main","index":0}]]},"Parsear Request":{"main":[[{"node":"Tipo de Accion","type":"main","index":0}]]},"Tipo de Accion":{"main":[[{"node":"Resolver Escalacion","type":"main","index":0}]]},"Resolver Escalacion":{"main":[[{"node":"Unir Acciones","type":"main","index":0}]]},"Descartar Escalacion":{"main":[[{"node":"Unir Acciones","type":"main","index":1}]]},"Unir Acciones":{"main":[[{"node":"Preparar Respuesta","type":"main","index":0}]]},"Preparar Respuesta":{"main":[[{"node":"Responder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9e8cbb3d-0951-4a52-a9a4-c6fccc153948","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-18T02:11:13.621Z","createdAt":"2025-12-18T02:11:13.621Z","role":"workflow:owner","workflowId":"IcchD2yumVIGAEwE","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}