n8n/18-12-25 workflow/update_inventory_from_purchases.json
{"updatedAt":"2025-12-04T15:16:37.000Z","createdAt":"2025-12-04T14:59:58.182Z","id":"cEhMfvI9H4D3X33m","name":"Update_Inventory_From_Purchases","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"7207b36d-67de-4926-afc4-b0c0fd7809d2","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.mercadolibre.com/oauth/token","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"grant_type\": \"refresh_token\",\n  \"client_id\": \"5168368765576929\",\n  \"client_secret\": \"PInjmoLGlppXD5BVHXnCy2154voNQ8XM\",\n  \"refresh_token\": \"TG-69304ada66f8f90001555757-2303729344\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,0],"id":"26ecbdc7-3ee6-4101-9c8a-3524bcb6219b","name":"Refresh_ML_Token"},{"parameters":{"jsCode":"const tokenData = $input.first().json;\n\n// Extraer el access token y refresh token\nreturn [{\n  json: {\n    access_token: tokenData.access_token,\n    refresh_token: tokenData.refresh_token,\n    token_type: tokenData.token_type,\n    expires_in: tokenData.expires_in\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,0],"id":"8ca618e5-f276-4deb-8aeb-d09fba6d902a","name":"Extract_Token"},{"parameters":{"jsCode":"// Obtener movimientos pendientes\nconst pendingMoves = $input.all();\n\nif (pendingMoves.length === 0) {\n  console.log('✅ No hay movimientos pendientes para procesar');\n  return [];\n}\n\nconsole.log(`📦 Movimientos pendientes: ${pendingMoves.length}`);\n\nconst accessToken = $('Extract_Token').first().json.access_token;\nconst DELAY_MS = 500;\n\n// Primero necesitamos obtener el mapeo de SKU a Item ID\n// Para esto, hacemos una búsqueda de todos los items activos y pausados\n\nconst userId = '2303729344'; // Tu user ID\nconst allItemIds = [];\n\n// Función para obtener items\nasync function getItems(status) {\n  let items = [];\n  let offset = 0;\n  let hasMore = true;\n  \n  while (hasMore) {\n    const url = `https://api.mercadolibre.com/users/${userId}/items/search?status=${status}&offset=${offset}&limit=100`;\n    \n    try {\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: url,\n        headers: { 'Authorization': `Bearer ${accessToken}` },\n        json: true\n      });\n      \n      const results = response.results || [];\n      items = items.concat(results);\n      \n      if (results.length < 100) {\n        hasMore = false;\n      } else {\n        offset += 100;\n        await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n      }\n    } catch (error) {\n      console.error(`Error obteniendo items ${status}:`, error.message);\n      hasMore = false;\n    }\n  }\n  \n  return items;\n}\n\n// Obtener items activos y pausados\nconsole.log('🔍 Obteniendo lista de items...');\nconst activeItems = await getItems.call(this, 'active');\nconst pausedItems = await getItems.call(this, 'paused');\nconst allIds = [...activeItems, ...pausedItems];\n\nconsole.log(`📋 Total items encontrados: ${allIds.length}`);\n\n// Obtener detalles de cada item (en batches)\nconst BATCH_SIZE = 20;\nconst itemDetails = [];\n\nfor (let i = 0; i < allIds.length; i += BATCH_SIZE) {\n  const batch = allIds.slice(i, i + BATCH_SIZE);\n  \n  console.log(`📊 Obteniendo detalles: batch ${Math.floor(i/BATCH_SIZE) + 1}/${Math.ceil(allIds.length/BATCH_SIZE)}`);\n  \n  const promises = batch.map(async (itemId) => {\n    try {\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://api.mercadolibre.com/items/${itemId}`,\n        headers: { 'Authorization': `Bearer ${accessToken}` },\n        json: true\n      });\n      return response;\n    } catch (error) {\n      console.error(`Error obteniendo item ${itemId}:`, error.message);\n      return null;\n    }\n  });\n  \n  const results = await Promise.all(promises);\n  itemDetails.push(...results.filter(r => r !== null));\n  \n  await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n}\n\nconsole.log(`✅ Detalles obtenidos: ${itemDetails.length} items`);\n\n// Función para extraer SKU\nfunction extractSKU(itemData) {\n  if (itemData.attributes && Array.isArray(itemData.attributes)) {\n    const skuAttr = itemData.attributes.find(attr => \n      attr.id === 'SELLER_SKU' && attr.value_name\n    );\n    \n    if (skuAttr && skuAttr.value_name) {\n      return skuAttr.value_name;\n    }\n  }\n  \n  return itemData.seller_custom_field || itemData.id;\n}\n\n// Crear mapeo SKU -> Item Details\nconst skuToItem = {};\nitemDetails.forEach(item => {\n  const sku = extractSKU(item);\n  skuToItem[sku] = {\n    item_id: item.id,\n    title: item.title,\n    current_stock: item.available_quantity || 0,\n    status: item.status,\n    listing_type: item.listing_type_id\n  };\n});\n\nconsole.log(`📋 Mapeo SKU creado: ${Object.keys(skuToItem).length} SKUs`);\n\n// Combinar movimientos pendientes con info de items\nconst output = [];\n\npendingMoves.forEach(move => {\n  const moveSku = move.json.sku;\n  const moveQty = parseInt(move.json.cantidad) || 0;\n  const moveType = move.json.tipo || 'COMPRA';\n  const rowNumber = move.json.row_number; // n8n agrega esto automáticamente\n  \n  const itemInfo = skuToItem[moveSku];\n  \n  if (!itemInfo) {\n    console.log(`⚠️ SKU ${moveSku} no encontrado en MercadoLibre`);\n    output.push({\n      json: {\n        ...move.json,\n        error: 'SKU no encontrado en MercadoLibre',\n        procesado: 'ERROR'\n      }\n    });\n  } else {\n    const newStock = itemInfo.current_stock + moveQty;\n    \n    console.log(`📦 SKU ${moveSku}: Stock actual ${itemInfo.current_stock} + ${moveQty} = ${newStock}`);\n    \n    output.push({\n      json: {\n        ...move.json,\n        item_id: itemInfo.item_id,\n        stock_anterior: itemInfo.current_stock,\n        stock_nuevo: newStock,\n        title: itemInfo.title,\n        status: itemInfo.status\n      }\n    });\n  }\n});\n\nconsole.log(`✅ Movimientos preparados para actualizar: ${output.length}`);\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,0],"id":"75e73500-6540-4922-8322-e0981a981c42","name":"Get_Current_Inventory_Info"},{"parameters":{"jsCode":"const movesToProcess = $input.all();\n\nif (movesToProcess.length === 0) {\n  console.log('✅ No hay movimientos para procesar');\n  return [];\n}\n\nconsole.log(`📦 Movimientos a procesar: ${movesToProcess.length}`);\n\nconst accessToken = $('Extract_Token').first().json.access_token;\nconst DELAY_MS = 1000; // 1 segundo entre actualizaciones para evitar rate limit\n\nconst results = [];\n\nfor (let i = 0; i < movesToProcess.length; i++) {\n  const move = movesToProcess[i];\n  const data = move.json;\n  \n  // Si ya tiene error, no procesar\n  if (data.error) {\n    results.push(move);\n    continue;\n  }\n  \n  console.log(`\\n🔄 Procesando ${i + 1}/${movesToProcess.length}: SKU ${data.sku}`);\n  console.log(`   Item ID: ${data.item_id}`);\n  console.log(`   Stock: ${data.stock_anterior} → ${data.stock_nuevo}`);\n  \n  try {\n    // Actualizar stock en MercadoLibre\n    const response = await this.helpers.httpRequest({\n      method: 'PUT',\n      url: `https://api.mercadolibre.com/items/${data.item_id}`,\n      headers: {\n        'Authorization': `Bearer ${accessToken}`,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        available_quantity: data.stock_nuevo\n      },\n      json: true\n    });\n    \n    console.log(`   ✅ Stock actualizado exitosamente`);\n    \n    results.push({\n      json: {\n        ...data,\n        procesado: 'SI',\n        fecha_procesado: new Date().toISOString(),\n        ml_response: 'OK'\n      }\n    });\n    \n  } catch (error) {\n    console.error(`   ❌ Error actualizando stock:`, error.message);\n    \n    results.push({\n      json: {\n        ...data,\n        procesado: 'ERROR',\n        fecha_procesado: new Date().toISOString(),\n        error: error.message\n      }\n    });\n  }\n  \n  // Delay entre actualizaciones\n  if (i < movesToProcess.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n  }\n}\n\nconsole.log(`\\n📊 Resumen:`);\nconst successful = results.filter(r => r.json.procesado === 'SI').length;\nconst errors = results.filter(r => r.json.procesado === 'ERROR').length;\nconsole.log(`   ✅ Exitosos: ${successful}`);\nconsole.log(`   ❌ Errores: ${errors}`);\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,0],"id":"94ea95d6-b026-4d72-b777-16563504885b","name":"Update_Stock_In_MercadoLibre"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1PblwP4IUAKxrWrKcoYuZaPPEjMsEnWqlTnGM8EiEPdQ","mode":"list","cachedResultName":"Movimientos_Inventario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PblwP4IUAKxrWrKcoYuZaPPEjMsEnWqlTnGM8EiEPdQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PblwP4IUAKxrWrKcoYuZaPPEjMsEnWqlTnGM8EiEPdQ/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["sku"],"schema":[{"id":"sku","displayName":"sku","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cantidad","displayName":"cantidad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_registro","displayName":"fecha_registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"procesado","displayName":"procesado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_procesado","displayName":"fecha_procesado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"item_id","displayName":"item_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stock_anterior","displayName":"stock_anterior","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stock_nuevo","displayName":"stock_nuevo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1184,0],"id":"65cace0c-4a8c-4f48-88c1-1fc37d3987ea","name":"Mark_As_Processed","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1PblwP4IUAKxrWrKcoYuZaPPEjMsEnWqlTnGM8EiEPdQ","mode":"list","cachedResultName":"Movimientos_Inventario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PblwP4IUAKxrWrKcoYuZaPPEjMsEnWqlTnGM8EiEPdQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PblwP4IUAKxrWrKcoYuZaPPEjMsEnWqlTnGM8EiEPdQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"procesado","lookupValue":"NO"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,0],"id":"76040483-af9d-4efb-a6f6-18f10b18a91b","name":"Read_Pending_Purchases","credentials":{"googleSheetsOAuth2Api":{"id":"CfOllqRMLaUn0Fa0","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Refresh_ML_Token","type":"main","index":0}]]},"Refresh_ML_Token":{"main":[[{"node":"Extract_Token","type":"main","index":0}]]},"Extract_Token":{"main":[[{"node":"Read_Pending_Purchases","type":"main","index":0}]]},"Get_Current_Inventory_Info":{"main":[[{"node":"Update_Stock_In_MercadoLibre","type":"main","index":0}]]},"Update_Stock_In_MercadoLibre":{"main":[[{"node":"Mark_As_Processed","type":"main","index":0}]]},"Read_Pending_Purchases":{"main":[[{"node":"Get_Current_Inventory_Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"188ed774-2577-4fc3-9873-6704437ad759","activeVersionId":null,"versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2025-12-04T14:59:58.187Z","createdAt":"2025-12-04T14:59:58.187Z","role":"workflow:owner","workflowId":"cEhMfvI9H4D3X33m","projectId":"Dx5gmdaSDUeD6Fmv","project":{"updatedAt":"2025-12-02T12:50:05.648Z","createdAt":"2025-12-02T12:48:13.459Z","id":"Dx5gmdaSDUeD6Fmv","name":"Akshay Mohandas <bazaroimportaciones@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-02T12:48:13.459Z","createdAt":"2025-12-02T12:48:13.459Z","userId":"bdb7d8a4-f732-42bb-9e77-16598037aaee","projectId":"Dx5gmdaSDUeD6Fmv","user":{"updatedAt":"2025-12-18T18:46:02.000Z","createdAt":"2025-12-02T12:48:12.914Z","id":"bdb7d8a4-f732-42bb-9e77-16598037aaee","email":"bazaroimportaciones@gmail.com","firstName":"Akshay","lastName":"Mohandas","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-02T12:50:20.780Z","personalization_survey_n8n_version":"1.122.4","companySize":"<20","companyType":"ecommerce","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"73b7LCDyQJVKdeGd","userActivatedAt":1764695970209,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1765813721311},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-18","isPending":false}}]}}],"tags":[],"activeVersion":null}