n8n/sync-full-manual.json
{
  "name": "BAZAR - Sincronizar Publicaciones (Manual)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bazar-sync-full",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "bazar-sync-full"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Sincronización iniciada. Este proceso puede tardar varios minutos.",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respond-accepted",
      "name": "Responder Aceptado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BAZAR_API_URL || 'https://bazar-inventory-dashboard.vercel.app'}}/api/sync-to-sheet",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "full"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "sync-full",
      "name": "Sincronizar Completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-msg",
              "name": "message",
              "value": "=✅ Sincronización completa exitosa\n\n📊 Estadísticas:\n• Total: {{ $json.stats.total_products }} publicaciones\n• Activas: {{ $json.stats.active }}\n• Pausadas: {{ $json.stats.paused }}\n• Cerradas: {{ $json.stats.closed }}\n• Supermarket: {{ $json.stats.supermarket }}\n• Catálogo: {{ $json.stats.catalogo }}\n• Con costo: {{ $json.stats.with_cost }}\n• Con proveedor: {{ $json.stats.with_provider }}\n\n⏱️ Duración: {{ Math.round($json.duration_ms / 1000) }}s\n🕐 {{ new Date().toLocaleString('es-CL') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-success",
      "name": "Formatear Éxito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-msg",
              "name": "message",
              "value": "=❌ Error en sincronización completa\n\n{{ $json.error || 'Error desconocido' }}\n🕐 {{ new Date().toLocaleString('es-CL') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-error",
      "name": "Formatear Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 200]
    },
    {
      "parameters": {
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notificar Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 100],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot BAZAR"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Webhook Manual": {
      "main": [
        [
          {
            "node": "Responder Aceptado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sincronizar Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sincronizar Completo": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Formatear Éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Éxito": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Error": {
      "main": [
        [
          {
            "node": "Notificar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "BAZAR",
      "createdAt": "2026-01-08T00:00:00.000Z",
      "updatedAt": "2026-01-08T00:00:00.000Z"
    },
    {
      "name": "Sincronización",
      "createdAt": "2026-01-08T00:00:00.000Z",
      "updatedAt": "2026-01-08T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
