n8n/sync-stock-automatic.json
{
  "name": "BAZAR - Actualizar Stock (Automático)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$env.BAZAR_API_URL || 'https://bazar-inventory-dashboard.vercel.app'}}/api/sync-to-sheet",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "update-stock",
      "name": "Actualizar Stock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-msg",
              "name": "message",
              "value": "=✅ Stock actualizado correctamente\n\n📊 Productos: {{ $json.updated_products }}/{{ $json.total_products }}\n⏱️ Duración: {{ Math.round($json.duration_ms / 1000) }}s\n🕐 {{ new Date().toLocaleString('es-CL') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-success",
      "name": "Formatear Éxito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-msg",
              "name": "message",
              "value": "=❌ Error actualizando stock\n\n{{ $json.error || 'Error desconocido' }}\n🕐 {{ new Date().toLocaleString('es-CL') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-error",
      "name": "Formatear Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 100]
    },
    {
      "parameters": {
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "notify-telegram-success",
      "name": "Notificar Telegram (Éxito)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, -100],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot BAZAR"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "notify-telegram-error",
      "name": "Notificar Telegram (Error)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 100],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot BAZAR"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log",
              "name": "log",
              "value": "=Stock sync: {{ $('Actualizar Stock').item.json.updated_products || 0 }} productos actualizados",
              "type": "string"
            }
          ]
        }
      },
      "id": "log-result",
      "name": "Log Resultado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Cada 30 minutos": {
      "main": [
        [
          {
            "node": "Actualizar Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Stock": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Formatear Éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Éxito": {
      "main": [
        [
          {
            "node": "Notificar Telegram (Éxito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Error": {
      "main": [
        [
          {
            "node": "Notificar Telegram (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Telegram (Éxito)": {
      "main": [
        [
          {
            "node": "Log Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Telegram (Error)": {
      "main": [
        [
          {
            "node": "Log Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "BAZAR",
      "createdAt": "2026-01-08T00:00:00.000Z",
      "updatedAt": "2026-01-08T00:00:00.000Z"
    },
    {
      "name": "Stock",
      "createdAt": "2026-01-08T00:00:00.000Z",
      "updatedAt": "2026-01-08T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
